.body-admin {
	margin-top: -5px;
}

.overflow-y{
	overflow-y:auto;
}

.overflow-x{
	overflow-x:auto;
}

#side-left {
	position: absolute;
	display: block;
	height: 100%;
	top: 48px;
	background: #333333;
	border: 1px solid #2E2E2E;
	width: 6.382978723404255%;
	z-index: 98;
}

#side-left.fixed {
	position: fixed;
}

.sidebar {
	margin: 0px;
	padding: 0px;
	list-style: none;
	color: #999;
}

.sidebar>li>a>.badge,.sidebar>li>a>.label {
	position: absolute;
	top: 5px;
	left: 60%;
	padding: 2px 5px 2px 5px;
	font-size: 11px;
}

.sidebar>li {
	position: relative;
	margin: 0px;
	padding: 10px 0px;
	list-style: none;
	height: 40px;
	display: block;
	text-align: center;
	font-size: 11px;
	border-top: 1px solid #555555;
	border-bottom: 1px solid #2E2E2E;
}

.sidebar>li>a {
	color: #CDCDCD;
	background-image: -webkit-linear-gradient(top, rgba(86, 86, 86, 0.2) 0%,
		rgba(54, 54, 54, 0.2) 100%);
	background-image: -moz-linear-gradient(top, rgba(86, 86, 86, 0.2) 0%,
		rgba(54, 54, 54, 0.2) 100%);
	background-image: -o-linear-gradient(top, rgba(86, 86, 86, 0.2) 0%,
		rgba(54, 54, 54, 0.2) 100%);
	background-image: -ms-linear-gradient(top, rgba(86, 86, 86, 0.2) 0%,
		rgba(54, 54, 54, 0.2) 100%);
	background-image: linear-gradient(top, rgba(86, 86, 86, 0.2) 0%,
		rgba(54, 54, 54, 0.2) 100%);
}

.sidebar>li:hover,.sidebar a:hover {
	color: #008299;
}

.sidebar>li:hover ul { /* this block for display sub-sidebar if any*/
	display: block;
}

.sidebar>li.active>a {
	color: #F1F1F1;
}

.sidebar>li.active:after,.sidebar>li.active:before {
	right: -1px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.sidebar>li.active:after {
	border-color: rgba(204, 204, 204, 0);
	border-right-color: #FFFFFF;
	border-width: 10px;
	top: 50%;
	margin-top: -10px;
}

.sidebar>li.active.first:after {
	border-right-color: #EDEDED;
}

.sidebar>li.active:before {
	border-color: rgba(204, 204, 204, 0);
	border-right-color: #CDCDCD;
	border-width: 11px;
	top: 50%;
	margin-top: -11px;
}
/** end sidebar left **/
/* content */
#main-content .content {
	margin-top: 0px;
	margin-left: -2.2%;
	margin-bottom: -62px;
	display: block;
	background: #EDEDED;
	border: 1px solid #CDCDCD;
	border-left: none;
	padding-bottom: 0px;
	min-height: 580px;
}

#main-content .content.content-large {
	margin-left: -2.5%;
}

#main-content .content.content-large[data-toggle=on] {
	margin-bottom: -92px;
}

#main-content .content.content-small {
	margin-left: -4%;
}

#main-content .content.content-small>.content-header {
	max-height: 40px;
	overflow: hidden;
}

#main-content .content.content-small>.content-breadcrumb>.breadcrumb {
	max-height: 20px;
	overflow: hidden;
}
/* content-header */
#main-content .content>.content-header {
	padding: 10px 20px 10px 29px;
	border-bottom: 1px solid #CDCDCD;
	color: #626262;
}

#main-content .content>.content-header>ul.content-header-action {
	display: block;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#main-content .content>.content-header>ul.content-header-action li {
	display: inline-block;
	list-style: none;
	margin: 0px 10px 0px 0px;
	padding: 0px;
	float: left;
}

#main-content .content>.content-header>ul.content-header-action li:hover .badge-circle
	{
	opacity: 1;
}

#main-content .content>.content-header>ul.content-header-action li.divider
	{
	height: 40px;
	border-right: 1px solid #CDCDCD;
}

#main-content .content>.content-header>ul.content-header-action li .badge-circle
	{
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	display: inline-block;
	text-align: center;
	font-size: 2em;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	float: left;
}

#main-content .content>.content-header>ul.content-header-action li .badge-circle>div
	{
	width: 40px;
	height: 30px;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	display: inline-block;
	padding-top: 8px;
}

#main-content .content>.content-header>ul.content-header-action li .badge-circle i
	{
	padding: 0px;
	margin: -12px 0px;
}

#main-content .content>.content-header>ul.content-header-action li .action-text
	{
	display: inline-block;
	font-weight: bold;
	margin: 5px 0px 5px 5px;
}

#main-content .content>.content-header>ul.content-header-action li .action-text span
	{
	display: block;
	font-weight: normal;
	text-align: center;
	margin-top: -5px;
}

#main-content .content>.content-header h1,#main-content .content>.content-header h2,#main-content .content>.content-header h3,#main-content .content>.content-header h4,#main-content .content>.content-header h5,#main-content .content>.content-header h6
	{
	font-size: 1.2em;
	margin: 0px;
}

#main-content .content>.content-header h1>i:first-child,#main-content .content>.content-header h2>i:first-child,#main-content .content>.content-header h3>i:first-child,#main-content .content>.content-header h4>i:first-child,#main-content .content>.content-header h5>i:first-child,#main-content .content>.content-header h6>i:first-child
	{
	margin-right: 5px;
}

#main-content .content>.content-header h1>small,#main-content .content>.content-header h2>small,#main-content .content>.content-header h3>small,#main-content .content>.content-header h4>small,#main-content .content>.content-header h5>small,#main-content .content>.content-header h6>small
	{
	font-size: .8em;
	font-weight: normal;
}
/* end content-header */
/* content-breadcrumb */
.content-breadcrumb,.content-breadcrumb>.breadcrumb-nav,.content-breadcrumb>.breadcrumb-nav>li
	{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.content-breadcrumb>.breadcrumb {
	background: #FFFFFF;
	font-size: .8em;
	margin: 0px;
	border-bottom: 1px solid #CDCDCD;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.content-breadcrumb>.breadcrumb a {
	color: #626262;
}

.content-breadcrumb>.breadcrumb-nav {
	background: #FFFFFF;
	border-bottom: 1px solid #CDCDCD;
}

.content-breadcrumb>.breadcrumb-nav>li {
	float: left;
}

.content-breadcrumb>.breadcrumb-nav.pull-right>li.divider {
	height: 36px;
	margin: -5px 5px;
	border-right: 1px solid #ffffff;
	border-left: 1px solid #CDCDCD;
}

.content-breadcrumb>.breadcrumb-nav.pull-right>li>a {
	font-size: 10px;
}

.content-breadcrumb>.breadcrumb-nav.pull-right>li>a {
	color: #626262;
}

.content-breadcrumb>.breadcrumb-nav.pull-right>li>a:hover {
	text-decoration: none
}

.content-breadcrumb>.breadcrumb-nav.pull-right {
	padding: 5px 15px;
}
/* end content-breadcrumb */
/*--content-body--*/
#main-content .content .content-body {
	padding: 10px 20px 40px 20px;
	font-size: .9em;
	background: #FFFFFF;
	min-height: 456px;
}

.content-body .action-buttons {
	margin-bottom: 15px;
}

/*--content-body||Users and Groups--*/
.content-body .tab-content {
	overflow-x: hidden;
	overflow-y: auto;
	height: 392px;
}

.content-body .tab-content .table .action-commands a {
	margin: 0 3px;
	display: inline-block;
	opacity: .85;
	-webkit-transition: all .1s;
	transition: all .1s;
}

/*--content-body||Form Builder--*/
#main-content .content .content-body .notice {
	padding-top: 7px;
	margin-left: 0px;
	text-align: center;
}
#main-content .content .content-body .palete-panel {
	height: 463px;
	width: 40%;
}

#main-content .content .content-body .palete-panel .panel-body{
	height:460px;
}
.dragdrop-dropTarget .span2{
    width:8.53%;
    margin-left: 5px;
}
#main-content .content .content-body .palete-panel .tab-content {
	height: 100%;
}

#main-content .form-horizontal .control-label {
	width: 120px;
}

#main-content .form-horizontal .controls {
	margin-left: 145px;
}

#main-content .btn-group{
    float: right;
    margin-left: 5px;
    margin-top: 0px;
}

/*--content-body||Form Builder||MainContent Panel--*/
#main-content .content .content-body .maincontent-panel {
	margin-left: 1%;
	height: 463px;
	width: 59%;
}

#main-content .maincontent-panel .dragdrop-dropTarget {
  /*  min-height: 350px;*/
}

#main-content .maincontent-panel .mainform {
	min-height: 350px;
}

.dragdrop-movable-panel { /*Dragging Styles*/
	width: 100%;
	height: 100%;
	padding: 10px 10px;
	border: 1px dotted #ccc;
	position: absolute;
	background: white;
	box-shadow: 0px 0px 30px #999;
	-webkit-transition: -webkit-transform 0.1s ease-out;
	overflow: hidden;
}

.dragdrop-selected,.dragdrop-dragging,.dragdrop-proxy {
	filter: alpha(opacity \= 70); /*Opacity for IE*/
	opacity: 0.7;
}

.dragdrop-positioner {
	border: 1px dashed #1e90ff;
	margin: 0 !important;
	zoom: 1;
	z-index: 100;
	background: #ccccfc;
}

/*--content-body||Form Builder||Property Panel--*/
.popover{
	max-height:90%;
}

.popover-admin{
	max-width: 50%;
}

.popover-admin .column-property {
	margin-left: 30px;
	margin-right: 30px;
}
.popover-admin .column-property .control-group {
	margin-bottom: 8px;
}

.popover-admin .drag-handler{
	background: url("../../img/freebird_sprite8.png") -152px -185px;
	height: 10px;
	width: 18px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	position: absolute;
	top: 34px;
}

.popover-admin .icon{
	position: absolute;
	top: 34px;
	right:0px;
	color: grey;
}

.popover-admin .form-horizontal .input-large{
	width:130px;
}

.popover-admin select{
	width:149px;
	border-radius:0;
}
.popover-admin .form-horizontal .control-label{
	width: 92px;
}

.popover-admin .form-horizontal .controls{
	margin-left: 100px;
}

.popover .form-horizontal .controls
.popover .popupContent{
    height:100%;
}
.popover .popover-content{
overflow-y:auto;
}

#main-content .property-panel {
	margin-left: 0px;
	min-height: 480px;
	width: 19.5%;
}

#main-content .property-panel .panel-body {
	min-height: 397px;
	padding: 0px;
}

#main-content .property-panel .panel-body .table {
	width: 100%;
	border: none;
}

#main-content .property-panel .panel-body .thead {
	/* background: none; */
	
}

#main-content .property-panel .panel-body .td {
	padding: 3px;
	border-bottom: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
}

#main-content .property-panel .panel-body .th {
	padding: 4px;
	text-align: center;
}

#main-content .property-panel .panel-body .td span {
	text-align: right;
}

#main-content .property-panel .input-small {
	width: 50px;
	margin-bottom: 0px;
	padding: 0px;
	border: none;
}

#main-content .input-small:hover,#main-content .input-small:focus {
	outline-style: none;
	box-shadow: none;
	border-color: transparent;
}

.content-body .tab-content .table .action-command a:hover {
	text-decoration: none;
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	opacity: 1;
}

.blue {
	color: #478fca !important;
}

.red {
	color: #dd5a43 !important;
}

/***Modal Admin***/
.modal-admin .gwt-FileUpload {
	right: 28px;
	top: 0px;
}

.modal-admin .modal-footer {
	background: #fff;
	border: none;
}

/*Table styles*/
.table {
	width: 100%;
	display: table;
	background-color: transparent;
	margin-bottom: 0px;
}

#usercontent .row-fluid:last-child {
	border-top: 1px solid rgb(221, 221, 221);
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: rgb(239, 243, 248);
	border-bottom: 1px solid rgb(221, 221, 221);
}

.thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
	color: rgb(112, 112, 112);
	font-weight: normal;
	background: linear-gradient(rgb(248, 248, 248) 0px, rgb(236, 236, 236)
		100%) repeat-x rgb(242, 242, 242);
}

.tbody {
	display: table-row-group;
}

.th {
	display: table-cell;
	vertical-align: bottom;
	border-bottom: 2px solid #dddddd;
	text-align: left;
	font-weight: bold;
	font-size: 14px;
}

.tr {
	display: table-row;
}

.td {
	display: table-cell;
	padding: 8px;
	/* line-height: 34px; */
	text-align: left;
	vertical-align: top;
}

}
.table .thead>.tr>.th,.table .tbody>.tr>.th,.table .tfoot>.tr>.th,.table .thead>.tr>.td,.table .tbody>.tr>.td,.table .tfoot>.tr>.td
	{
	padding: 8px;
	line-height: 1.428571429;
	vertical-align: top;
	border-top: 1px solid #dddddd;
}

.table .tbody>.tr>.td {
	border-top: 1px solid #dddddd;
}

.table .thead>.tr>.th {
	padding: 4px;
	line-height: 1.428571429;
	vertical-align: top;
	vertical-align: bottom;
	border-bottom: 2px solid #dddddd;
}

.table caption+.thead .tr:first-child .th,.table colgroup+.thead .tr:first-child .th,.table .thead:first-child .tr:first-child .th,.table caption+.thead .tr:first-child .td,.table colgroup+.thead .tr:first-child .td,.table .thead:first-child .tr:first-child .td
	{
	border-top: 0;
}

.table .tbody+.tbody {
	border-top: 2px solid #dddddd;
}

.table .table {
	background-color: #ffffff;
}

.table-condensed .thead>.tr>.th,.table-condensed .tbody>.tr>.th,.table-condensed .tfoot>.tr>.th,.table-condensed .thead>.tr>.td,.table-condensed .tbody>.tr>.td,.table-condensed .tfoot>.tr>.td
	{
	padding: 5px;
}

.table-bordered {
	border: 1px solid #dddddd;
}

.table-bordered>.thead>.tr>.th,.table-bordered>.tbody>.tr>.th,.table-bordered>.tfoot>.tr>.th,.table-bordered>.thead>.tr>.td,.table-bordered>.tbody>.tr>.td,.table-bordered>.tfoot>.tr>.td
	{
	border: 1px solid #dddddd;
}

.table-bordered>.thead>.tr>.th,.table-bordered>.thead>.tr>.td {
	border-bottom-width: 2px;
}

.table-striped>.tbody>.tr:nth-child(odd)>.td,.table-striped>.tbody>.tr:nth-child(odd)>.th
	{
	background-color: #f9f9f9;
}

.table-hover>.tbody>.tr:hover>.td,.table-hover>.tbody>.tr:hover>.th {
	background-color: #f5f5f5;
}

.table col[class *="col-"] {
	display: table-column;
	float: none;
}

.table .td[class *="col-"],.table .th[class *="col-"] {
	display: table-cell;
	float: none;
}

.table>.thead>.tr>.td.active,.table>.tbody>.tr>.td.active,.table>.tfoot>.tr>.td.active,.table>.thead>.tr>.th.active,.table>.tbody>.tr>.th.active,.table>.tfoot>.tr>.th.active,.table>.thead>.tr.active>.td,.table>.tbody>.tr.active>.td,.table>.tfoot>.tr.active>.td,.table>.thead>.tr.active>.th,.table>.tbody>.tr.active>.th,.table>.tfoot>.tr.active>.th
	{
	background-color: #f5f5f5;
}

.table>.thead>.tr>.td.success,.table>.tbody>.tr>.td.success,.table>.tfoot>.tr>.td.success,.table>.thead>.tr>.th.success,.table>.tbody>.tr>.th.success,.table>.tfoot>.tr>.th.success,.table>.thead>.tr.success>.td,.table>.tbody>.tr.success>.td,.table>.tfoot>.tr.success>.td,.table>.thead>.tr.success>.th,.table>.tbody>.tr.success>.th,.table>.tfoot>.tr.success>.th
	{
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.table-hover>.tbody>.tr>.td.success:hover,.table-hover>.tbody>.tr>.th.success:hover,.table-hover>.tbody>.tr.success:hover>.td
	{
	background-color: #d0e9c6;
	border-color: #c9e2b3;
}

.table>.thead>.tr>.td.danger,.table>.tbody>.tr>.td.danger,.table>.tfoot>.tr>.td.danger,.table>.thead>.tr>.th.danger,.table>.tbody>.tr>.th.danger,.table>.tfoot>.tr>.th.danger,.table>.thead>.tr.danger>.td,.table>.tbody>.tr.danger>.td,.table>.tfoot>.tr.danger>.td,.table>.thead>.tr.danger>.th,.table>.tbody>.tr.danger>.th,.table>.tfoot>.tr.danger>.th
	{
	background-color: #f2dede;
	border-color: #eed3d7;
}

.table-hover>.tbody>.tr>.td.danger:hover,.table-hover>.tbody>.tr>.th.danger:hover,.table-hover>.tbody>.tr.danger:hover>.td
	{
	background-color: #ebcccc;
	border-color: #e6c1c7;
}

.table>.thead>.tr>.td.warning,.table>.tbody>.tr>.td.warning,.table>.tfoot>.tr>.td.warning,.table>.thead>.tr>.th.warning,.table>.tbody>.tr>.th.warning,.table>.tfoot>.tr>.th.warning,.table>.thead>.tr.warning>.td,.table>.tbody>.tr.warning>.td,.table>.tfoot>.tr.warning>.td,.table>.thead>.tr.warning>.th,.table>.tbody>.tr.warning>.th,.table>.tfoot>.tr.warning>.th
	{
	background-color: #fcf8e3;
	border-color: #fbeed5;
}

.table-hover>.tbody>.tr>.td.warning:hover,.table-hover>.tbody>.tr>.th.warning:hover,.table-hover>.tbody>.tr.warning:hover>.td
	{
	background-color: #faf2cc;
	border-color: #f8e5be;
}

@media ( max-width : 768px) {
	.table-responsive {
		width: 100%;
		margin-bottom: 15px;
		overflow-x: scroll;
		overflow-y: hidden;
		border: 1px solid #dddddd;
	}
	.table-responsive>.table {
		margin-bottom: 0;
		background-color: #fff;
	}
	.table-responsive>.table>.thead>.tr>.th,.table-responsive>.table>.tbody>.tr>.th,.table-responsive>.table>.tfoot>.tr>.th,.table-responsive>.table>.thead>.tr>.td,.table-responsive>.table>.tbody>.tr>.td,.table-responsive>.table>.tfoot>.tr>.td
		{
		white-space: nowrap;
	}
	.table-responsive>.table-bordered {
		border: 0;
	}
	.table-responsive>.table-bordered>.thead>.tr>.th:first-child,.table-responsive>.table-bordered>.tbody>.tr>.th:first-child,.table-responsive>.table-bordered>.tfoot>.tr>.th:first-child,.table-responsive>.table-bordered>.thead>.tr>.td:first-child,.table-responsive>.table-bordered>.tbody>.tr>.td:first-child,.table-responsive>.table-bordered>.tfoot>.tr>.td:first-child
		{
		border-left: 0;
	}
	.table-responsive>.table-bordered>.thead>.tr>.th:last-child,.table-responsive>.table-bordered>.tbody>.tr>.th:last-child,.table-responsive>.table-bordered>.tfoot>.tr>.th:last-child,.table-responsive>.table-bordered>.thead>.tr>.td:last-child,.table-responsive>.table-bordered>.tbody>.tr>.td:last-child,.table-responsive>.table-bordered>.tfoot>.tr>.td:last-child
		{
		border-right: 0;
	}
	.table-responsive>.table-bordered>.thead>.tr:last-child>.th,.table-responsive>.table-bordered>.tbody>.tr:last-child>.th,.table-responsive>.table-bordered>.tfoot>.tr:last-child>.th,.table-responsive>.table-bordered>.thead>.tr:last-child>.td,.table-responsive>.table-bordered>.tbody>.tr:last-child>.td,.table-responsive>.table-bordered>.tfoot>.tr:last-child>.td
		{
		border-bottom: 0;
	}
}
/* end content-body */
/* end content */
/*--------Panel Styles----*/
.panel {
	padding: 0;
	border: 1px solid #c9c9c9;
	-webkit-box-shadow: inset 1px 1px 0px 0px rgba(222, 2222, 222, 0.1), 1px
		1px 0px 0px rgba(255, 255, 255, 1);
	box-shadow: inset 1px 1px 0px 0px rgba(222, 222, 222, 0.1), 1px 1px 0px
		0px rgba(255, 255, 255, 1);
	margin-bottom: 1px;
	background: #fefefe;
	position: relative;
}

.panel.second {
	margin-top: 20px;
}

.panel.plain {
	background: #ffffff;
}

.panel.closed .panel-heading {
	border-bottom: 1px solid #c9c9c9;
}

.panel .panel-heading {
	height: 28px;
	padding: 0;
	position: relative;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.05);
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWY1ZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff),
		color-stop(100%, #f5f5f5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #f5f5f5 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#ffffff',
		endColorstr='#f5f5f5', GradientType=0); /* IE6-8 */
}

.panel.drag .panel-heading {
	cursor: move;
	border-bottom: 1px solid #c9c9c9;
}

.panel .panel-heading.pattern1 {
	background: url(../images/patterns/debut_light.png) repeat;
}

.panel.plain .panel-heading {
	border-bottom: none;
	box-shadow: none;
	background: none;
	padding: 2px 0 3px;
	filter: none;
}

.panel .panel-heading h4 {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 700;
	color: #777777;
	display: inline-block;
	padding: 4px 0 11px 20px;
	font-size: 13px;
	text-align: center;
	width: 100%;
}

.panel.plain .panel-heading h4 {
	padding-left: 0;
}

.panel.plain .panel-heading i {
	margin-top: 0px;
}

.panel .panel-heading .icon {
	float: left;
	border-right: 1px solid #c9c9c9;
	width: 41px;
	height: 100%;
	box-shadow: none;
	position: absolute;
	top: 0;
	left: 1px;
	text-align: center
}

.panel .panel-heading .icon:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 39px;
	height: 98%;
	content: "";
	-webkit-box-shadow: inset 1px 0px 0px 0px rgba(255, 255, 255, 1), 1px
		0px 0px 0px rgba(255, 255, 255, 1);
	box-shadow: inset 1px 0px 0px 0px rgba(255, 255, 255, 1), 1px 0px 0px
		0px rgba(255, 255, 255, 1);
}

.panel .panel-heading .icon:before {
	position: absolute;
	top: 0;
	left: 1px;
	width: 38px;
	height: 97%;
	content: "";
	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 1), 0px
		1px 0px 0px rgba(255, 255, 255, 1);
	box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 1), 0px 1px 0px
		0px rgba(255, 255, 255, 1);
}

.panel .panel-heading .icon i {
	color: #777777;
	margin-top: 9px;
}

.panel.plain .panel-heading i {
	margin-left: 15px;
}

.panel .panel-heading .minimize,.panel .panel-heading .minimize-right,.panel .panel-heading .maximize
	{
	width: 24px;
	height: 24px;
	float: right;
	margin-top: 9px;
	margin-right: 10px;
	border: 1px solid transparent;
}

.panel .panel-heading .minimize:hover,.panel .panel-heading .minimize-right-hover,.panel .panel-heading .maximize:hover
	{
	border: 1px dashed #c9c9c9;
	-webkit-transition: 0.15s all ease-in;
	-moz-transition: 0.15s all ease-in;
	-o-transition: 0.15s all ease-in;
	transition: 0.15s all ease-in;
}

.panel .panel-heading .minimize-left:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border: solid 6px;
	border-color: transparent #777 transparent transparent;
	margin-top: 2px;
	margin-left: 5px;
}

.panel .panel-heading .minimize-right:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border: solid 6px;
	border-color: transparent transparent transparent #777;
	margin-top: 2px;
	margin-left: 5px;
}

.panel .panel-heading .maximize:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border: solid 6px;
	border-color: #777 transparent transparent transparent;
	margin-top: 9px;
	margin-left: 4px;
}

.panel .panel-heading .w-right {
	float: right;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 10px;
	padding-top: 5px;
}

.panel .panel-heading .w-right .btn-full {
	height: 40px;
	margin-top: -10px;
	margin-right: -10px;
}

.panel .panel-heading .w-right .progress {
	min-width: 100px;
	margin-top: 8px;
}

.panel .panel-heading .w-right .search-query {
	margin-bottom: 0;
	min-height: 24px !important;
	line-height: 24px;
	margin-top: -5px;
	background: #ffffff;
}

.panel .panel-heading .w-right div.selector {
	margin-top: -5px;
	height: 30px;
	background: white;
}

.panel .panel-heading .w-right div.selector span {
	height: 30px;
	background-position: right -3px;
}

.panel .panel-heading .w-right div.selector select {
	top: -8px;
	height: 30px;
}

.panel .panel-heading .w-right .has-switch {
	margin-top: -9px;
}

.panel .panel-body {
	padding: 15px;
}

.panel .panel-body table {
	margin-bottom: 0;
	margin-left: 0px;
}

.panel .panel-body.noPadding {
	padding: 0;
}

.panel .panel-body.noPadding table {
	margin-bottom: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
	border-top: 0;
}

.panel .panel-body.noPadding table thead th {
	box-shadow: none;
}

.panel .panel-body.noPadding .nav-tabs>li>a {
	border-top-color: transparent;
}

.panel .panel-body.noPadding .nav-tabs>li:first-child>a {
	border-left-color: transparent;
}

.panel .panel-body.noPadding .tab-content {
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}

.panel .panel-body.slideDown {
	display: block;
}

.panel .panel-body.slideUp {
	display: none;
}