body {
	overflow-y: hidden;
	font-family:Arial, Helvetica, sans-serif !important;
    height:100%;
    width:100%;
}

h1,h2,h3,h4,h5 {
	margin: 0;
	line-height: inherit;
	color: #29323d;
}
a{
    color: grey;
    cursor:pointer;
}
a, a:visited, a:hover{
    text-decoration:none;
    color: #cccccc;
}

textarea {
	width: 98%;
	height: 70px;
	margin-bottom: 0px;
}

.full-page{
    height:100%;
}

#detailed-info textarea:hover{
	outline:none;
	border:none;
}

*:focus{
	outline:none;
	border:none;
	box-shadow:none;
}
.header {
	margin-bottom: 60px;
}

.header h1,.header h2,.header h3,.header h4,.header h5 {
	float: left;
	margin-top: 5px;
}
#loading-text{
	text-align: center;
	color:#222;
	border-color:#f0c36d;
	background-color: #f0c36d;
	padding: 1px 0px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	font-weight: bold;
	width: 100px;
	margin: 0px;
	position: absolute;
	right: 648px;
	top: 0px;
	height: 20px;
}

/*Uploader Modal */
.modal{
	max-width: 40%; 
	height: 92%;
}

.modal .popupContent{
	height:100%;
}

.modal .upload-panel{
    max-width: 443px; 
    overflow-x:auto;
}
.modal-admin .modal-body{
	max-height: 100%; 
}

.modal-admin .modal-body .select2-container{
    min-width: 43%;
}

.modal-admin .modal-body  .select2-drop{ 
	width: 200px;
}

.modal-admin .modal-body  .select2-drop:focus{ 
border: 1px solid #aaa;
border-top: 0;
}

.modal-header{
     background:#EDEDED;  
     padding: 5px;
}

.modal-header i{
    margin-right:7px
}
.modal-footer{
    padding: 5px 6px 5px 0px;
}

/* Custom navbar stuff */
.navbar {
	margin-bottom: 1px;
}
.navbar-inverse .navbar-inner{
    background-image:none;
    background-color: #333333;
    border-radius: 0px;
}
.navbar-inverse .navbar-inner .brand{
    color: #ffffff;
} 

.navbar .brand {
	color: #1B1464;
	margin-top: 10px;
	text-shadow: 1px 1px #1B1464;
}
/* Login Logo*/
.login-wrapper .brand {
	text-decoration: none;
	font-size: 2em;
	color: #ffffff;
	margin: 20px;
	text-shadow: 1px 1px #1B1464;
}

/* navbar settings and logout icons */
.navbar .settings i {
	color: #9ba3ad;
	font-size: 21px;
}

.navbar .nav .dropdown-toggle .caret {
	margin-top: 15px;
}

.navbar-inverse .nav>li>a {
	color:#ffffff;
    opacity:.7;
}
.navbar .home{
	height: 41px;
	border-left: 1px solid #dae1e8;
	position: relative;
	padding-top: 5px;
	font-size: 20px;	
}

/* notification menu with custom dropdown */
.navbar .notification-dropdown {
	height: 41px;
	border-left: 1px solid #dae1e8;
	border-right: 1px solid #dae1e8;
	position: relative;
	padding-top: 5px;
}

.navbar .loading {
	background: url("../img/ajax-loader.gif")no-repeat top;
}

.navbar .notification-dropdown i {
	font-size: 25px;
	opacity: .75
}

.navbar .notification-dropdown>i.active {
	opacity: 1;
	background: #ffffff;
}

.navbar .notification-dropdown .label {
	position: absolute;
	top: 5px;
	left: 60%;
	padding: 0px 5px;
	border-radius: 30px;
	color: #fff;
	line-height: 16px;
	z-index: 9999;
	text-align: center;
	font-size: 11px;
}

/* navbar popup dialog */
.navbar .pop-dialog {
	position: absolute;
	right: -10px;
	top: 55px;
	display: none;
}

.navbar .pop-dialog.is-visible {
	display: block;
	-webkit-animation: reveal .2s ease-out;
	-moz-animation: reveal .2s ease-out;
	animation: reveal .2s ease-out;
}

.navbar .pop-dialog .body {
	box-shadow: 0px 1px 9px 1px #c2c2c2;
	overflow: hidden;
}

.navbar  .pop-dialog .footer {
	border-top: 1px solid #e6e8e9;
	/* background-color: #eff4f7; */
	margin: 0px 0px 0px 0px;
	border-radius: 0px 0px 5px 5px;
	padding: 3px 20px;
	text-align: center;
	color: #3b5998;
}

.navbar  .pop-dialog .footer a {
	font-weight: 600;
	color: #7d91a8;
}

/* navbar popup dialog for notifications */
.navbar  .pop-dialog .notifications {
	width: 330px;
	margin: 0px 0px 0px 0px;
	max-height: 500px;
	overflow: auto;
}

.navbar  .pop-dialog .notifications h3 {
	font-size: 11px;
	color: #404951;
	font-weight: bold;
	padding-left: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.navbar  .pop-dialog .notifications .item {
	display: block;
	padding: 1px 0px 7px 42px;
	border-top: 1px solid #E7E8EA;
	color: rgb(54, 54, 54);
	font-size: 11px;
	text-decoration: none;
	position: relative;
	transition: all .25s linear;
	-moz-transition: all .25s linear;
	-webkit-transition: all .25s linear;
	-o-transition: all .25s linear;
}

.navbar  .pop-dialog .notifications .unread {
	background: #f4f6f9;
}

.navbar  .pop-dialog .notifications .item:hover {
	background: #f4f6f9;
}

.navbar  .pop-dialog .notifications .item .bluename {
	font-weight: bold;
}

.navbar  .pop-dialog .notifications .item>i {
	color: rgb(252, 130, 123);
	position: absolute;
	left: 13px;
	font-size: 20px;
	top: 11px;
}

.navbar  .pop-dialog .notifications .item>i.icon-user {
	left: 18px;
}

.navbar  .pop-dialog .notifications .item .time {
	color: #228BEB;
	font-style: italic;
	font-weight: 600;
	font-size: 11px;
	min-width: 60px;
	margin-left: 5px;
}

.navbar  .pop-dialog .notifications .item .time i {
	font-size: 11px;
	color: #999;
	margin-right: 1px;
}

/* navbar popup dialog for messages */
.navbar .pop-dialog .messages {
	width: 330px;
	margin: 10px -10px 0px -10px;
}

.navbar  .pop-dialog .messages .item {
	display: block;
	padding: 10px 20px 15px 20px;
	height: 54px;
	border-bottom: 1px solid #e7e8ea;
	color: rgb(54, 54, 54);
	text-decoration: none;
	position: relative;
	transition: all .25s linear;
	-moz-transition: all .25s linear;
	-webkit-transition: all .25s linear;
	-o-transition: all .25s linear;
}

.navbar  .pop-dialog .messages .item.last {
	border-bottom: 0px;
}

.navbar  .pop-dialog .messages .item:hover {
	background: rgb(240, 246, 255);
}

.navbar  .pop-dialog .messages .item .display {
	float: left;
	border-radius: 50px;
	margin-right: 15px;
}

.navbar  .pop-dialog .messages .item .name {
	font-size: 12px;
	color: #404951;
	font-weight: bold;
}

.navbar  .pop-dialog .messages .item .msg {
	font-size: 11px;
	color: rgb(117, 118, 119);
	font-weight: 600;
	line-height: 13px;
	position: relative;
	top: -1px;
}

.navbar  .pop-dialog .messages .item .time {
	position: absolute;
	right: 0px;
	bottom: 6px;
	color: #82a3c1;
	font-style: italic;
	font-weight: 600;
	font-size: 11px;
	min-width: 60px;
	margin-right: 5px;
}

.navbar  .pop-dialog .messages .item .time i {
	font-size: 13px;
	color: #cfcfcf;
	margin-right: 1px;
}

.navbar  .pop-dialog .messages .footer {
	margin-top: 6px;
}
/*User-Account*/
.navbar .dropdown-menu {
	background: #f5f5f5;
	margin: 0px;
	padding: 0px;
	vertical-align: top;
	width: 240px;
}

.navbar #changephoto {
	padding: 7px 0;
	-webkit-transition: background-color .218s ease-in-out;
	transition: background-color .218s ease-in-out;
	background-color: #4d90fe;
	bottom: 0;
	color: #fff;
	display: block;
	font-size: 9px;
	font-weight: bold;
	position: absolute;
	text-align: center;
	text-decoration: none !important;
	-moz-transition: opacity .218s ease-in-out;
	-o-transition: opacity .218s ease-in-out;
	-webkit-transition: opacity .218s ease-in-out;
	transition: opacity .218s ease-in-out;
	white-space: normal;
	width: 96px;
}

.navbar .dropdown-menu .user-details {
	display: inline-block;
	background: #fff;
	border-bottom: 1px solid #bebebe;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
	box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
	padding: 15px 8px;
	width: 225px;
}

.navbar .dropdown-menu .user-details .span1 {
	width: 70px;
	/* height:70px; */
}

.navbar .dropdown-menu .user-details .span2 {
	width: 130px;
	/* height:70px; */
	padding-left: 10px;
}

.navbar .dropdown-menu .action-area {
	padding: 10px;
	padding-top: 0px;
}

.navbar .dropdown-menu .text {
	font-weight: bold;
	color: #000;
}
/*Whole Inside Container*/
.main-container {
	background-color: #fafafa;
	max-width: 100%;
	height: 100%;
	position: absolute;
}

/* Sidebar */
#sidebar-nav .add-doc {
	padding-bottom: 10px;
	margin: 0px 7px;
}

#sidebar-nav .add-doc .btn {
	
}
#sidebar-nav {
	width: 12%;
	min-height: 100%;
	padding: 10px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.working-request{
	background: #ffffff;
    opacity:.4; 
}
#separator{
	overflow: hidden;
	/*background: url("../img/border.png") -0px -0px no-repeat;*/
	height: 5px;
	background-size: 100% 8px;
	position: relative;
	top: 10px;
}

/*---Middle-Pane--- */
.main-container .content-right{
    margin-left:0px;
    width: 88%;
    height: 100%;
    position: relative;
}
.main-container .content-right #middle-box{
  width: 22.2%;
  height: 100%;
}


#nav-top {
    background: #ffffff;
    padding-left: 5px;
    left: 200px;
    border: 1px solid #CCCCCC;
    border-bottom:none;
    border-right: none;
    height: 51px;
}
#nav-top i{
    display: inline;
}
#nav-top h5{   
    display: inline-block;
    margin-top: 5px;
}

#nav-top .search {
	box-shadow: none;
	height: 21px;
	font-size: 13px;
	padding: 0px;
	border: 1px solid #d0dde9;
	margin: 0;
	border-radius: 2px;
	width: 90%;
	display: inline-block;
}
#nav-top .search a.icon-caret-down{
    color:grey;
    opacity:.7;
}
#nav-top .search a.icon-caret-down:hover{
    opacity:1;
}

#nav-top .search-box{
	margin: 0px;
	border: 0;
	outline:none;
	width: 94%;
	padding: 0px;
	position: relative;
	top: -2px;
}

#nav-top .search-box:hover, #nav-top .search-box:focus {
    outline-style:none;
    box-shadow:none;
    border-color:transparent;
}

#nav-top .search-box .icon-caret-down{
	opacity:.7;
	cursor:pointer;
}

#middle-nav {
    background:#ffffff;
	margin: 0em;
    padding: 0px 0px 5px 0px;
	padding-right: 0px;
	border: 1px solid #CCCCCC;	
    height: 100%;
	border-right: none;
    overflow-y:auto;
}

#middle-nav .nav-top i {
	margin-left: 5px;
	cursor: pointer;
}

#middle-nav .header-nav {
	padding-top: 5px;
}

#middle-nav h5 {
	color: #0000FF;
	font-weight: bold;
	float: left;
	margin-top: 2px;
}

#middle-nav .ui-dropdown {
	float: right;
}

#middle-nav .content-nav {
	padding-top: 2px;
	overflow-y: auto;
    overflow-x: hidden;
}

#middle-nav .message-container {
	border-bottom: 1px solid #dae1e8;
	cursor: pointer;
	background-color: #fafafa;
}

#middle-nav .message-container .inside-container{
	display: inline-table;
}

#middle-nav .message-container:hover {
	background-color: #fafafa;
}

#middle-nav .message-container .label {
	float: right;
	margin-right: 20px;
	margin-left: 10px;
	font-weight: normal;
	margin-top: 3px;
}
#middle-nav .message-container .bluename {
    font-weight:bold;
    font-size:12px;
}
#middle-nav .message-container .wfactions {
    float:right;
    display: inline;
}

#middle-nav .icon-refresh{
    text-decoration:none;
}

#middle-nav p {
	margin: 0 0 2px;
	padding-left: 7px;
	padding-bottom: 8px;
	display: inline-block;
}

#middle-nav .icon-book{
    font-size: 12px;
    
    padding-left: 5px;
    position: relative;
    top: -20px;
}

#middle-nav .unread {
	border-left: 2px solid #0000FF;
	font-weight: 100;

	background-color: #ffffff;
}

#middle-nav .unread p {
	padding-left: 7px;
}

/*---Detailed-Info Styles---*/
#detailed-info {
	background-color: #ffffff;
	margin-left: 0px;
	border: 1px solid #CCCCCC;
	overflow-y: auto;
	overflow-x: hidden;
	width: 77.7%;
	height: 100%;
}
#detailed-info .upper-content{
    min-height:500px;
}
#detailed-info .doc-title{
	text-transform: uppercase;
	font-size: 115%;
	font-weight: bold;
	padding: 14px 0px 0px 0px;
	color: #222;
	font-family: arial,sans-serif;
	width: 300px;
}
#detailed-info .action-area i{
    margin-right:5px;
}

#detailed-info .action-buttons{  
    padding-top: 5px;
    padding-right: 20px;
}
#detailed-info .action-buttons .dropdown-menu{
    left:-45px; 
    min-width:100px;
}

#detailed-info .action-area {
	display:inline-block;
	padding: 0px 0px 2px 10px;
	/* width: 858px; */
}

#detailed-info .action-area a:hover {
	text-decoration: none;
	cursor: pointer;
}

#detailed-info .personal_info {
	padding: 0px 0px 7px 2px;
	height: 35px;
	border-bottom: 1px solid #CCCCCC;
	margin-left: 0px;
	border-top: 1px solid #CCCCCC;
}

#detailed-info .personal_info .span3{
	margin-left: 5px;
	border-right: 1px solid #E2E2E2;
	height: inherit;
	padding-top: 5px;
}
#detailed-info .personal_info .span4{
    width: 220px;
    padding-top: 5px;
}

#detailed-info .personal_info .icon-large{
    /* opacity:.7; */
    color: #928E8E;
}

#detailed-info .personal_info strong{
     margin-top: 5px;   
}

#detailed-info .content-area{
    padding: 39px 0 0 12px;
    font-size:14px;
    max-height: 183px;
}
#detailed-info .content-area div{	
	padding-bottom:7px;
}
#detailed-info .attachment-panel{
	max-height: 65px;
	overflow-y:auto;
	width: 839px;
	overflow-x: hidden;
	padding-bottom: 0px!important;
}

#detailed-info .attachment-section {
	border-top: 1px solid #CCCCCC;
	margin: 0px;
	padding: 5px 0 10px 0;
	
}
#detailed-info .attachment-section attatchment-links{
	font-size:11px;
	padding-left:10px;
}

#detailed-info .status-section{
	font-weight:normal;
	border:1px solid #CCCCCC;
	margin-left:0px;
}

#detailed-info .status-section .panel-heading{
    padding: 3px 5px;
    width: 187px;
    height: 21px;
}

#detailed-info .status-section .panel-heading .panel-title{
    font-size:14px;
}

#detailed-info .status-section .panel-heading .icon-briefcase{
  font-size:14px;
}

#detailed-info .status-section span{
	display: block;
	margin-bottom: 10px;
}
#detailed-info .status-section i {
	text-align:center;
	font-size: 17px;
	margin-right:6px;
}

#detailed-info .status-section .pull-right {
	float:none;
	margin-left:80px;
}
#detailed-info .recent-activity{
	padding: 2px 0px 0px 0px;
	width: 73%;
	overflow-x: hidden;
	margin-left: 13px;
	border-left: none;
	max-height: 326px;
	overflow-y: hidden;
	border-top: 1px solid #cccccc;
	border-right: none;
}

#detailed-info .recent-activity .title{
	text-align:center;
	font-weight:bold;
}
#detailed-info .recent-activity .icon-comments{
	margin-right:6px;
	color:grey;	
}

#detailed-info .recent-activity .comment-box .icon-chevron-up{
	position: relative;
	top: -7px;
	color: #b4bbcd;
	font-size: 13px;
	background: #fff;
	left: 30px;
	z-index: 1;
}

#detailed-info .recent-activity .comment-box .button-post{
	min-height: 20px;
	padding: 1px 8px;
	font-size: 11px;
	margin-top: 4px;
	margin-right: 7px;
}
#detailed-info .recent-activity .comment-box .textarea-box{
	margin: 0px;
	max-height: 50px;
	z-index: 0;
	border: 0;
	resize: none;
	outline:none;
	width: 99%;
	padding: 3px;
}

#detailed-info .recent-activity .textarea-small{
	height: 20px;	
}

#detailed-info .recent-activity .textarea-big{
	height:70px;
}

#detailed-info .recent-activity .comment-box .textarea-box:focus{
   	 outline: none;
   	 box-shadow:none;
     border: none;
}

#detailed-info .recent-activity .comment-container{
    background-color:#f1f1f1;
}

#detailed-info .recent-activity .comment-container{
	border:1px solid #b4bbcd;
	position: relative;
	top: -14px;
	z-index: 0;
	width: 570px;
}
#detailed-info .recent-activity .comment-small{
	 height: 26px;
}

#detailed-info .recent-activity .comment-big{
	 height: 87px;
}

#detailed-info .recent-activity .span1{
	padding-top: 4px;
	width: 50px;
	height: 50px;
}
#detailed-info .recent-activity .span8{
    margin-left:3px;
}

#detailed-info .recent-activity .name{
	font-weight:bold;
	color:#419AB0;	
}

#detailed-info .recent-activity .well{
	padding: 5px;
	margin-left: 53px;
	width: 390px;
}


#detailed-info .panel-activity{
	width: 100%;
	overflow-y: auto;
	margin: 0px 0px 0px 0px;
	max-height: 246px;
}
#detailed-info .panel-activity .row-fluid{
    border-top:1px solid #E7E8EA;
}

#detailed-info .panel-activity .item{
	display: block;
	cursor:default;
	padding: 10px 0px 7px 49px;
	border-top: 1px solid #E7E8EA;
	color: rgb(54, 54, 54);
	font-size: 12px;
	text-decoration: none;
	position: relative;
	transition: all .25s linear;
	-moz-transition: all .25s linear;
	-webkit-transition: all .25s linear;
	-o-transition: all .25s linear;
}

#detailed-info .panel-activity .item .bluename{
	font-weight:bold;
}
#detailed-info .panel-activity .item>i {
	color: rgb(252, 130, 123);
	position: absolute;
	left: 13px;
	font-size: 20px;
	top: 11px;
}

#detailed-info .panel-activity .item .time{
	color: #228BEB;
	font-style: italic;
	font-weight: 600;
	font-size: 11px;
	min-width: 60px;
	margin-left: 5px;
}

#detailed-info .panel-activity .item .time i {
	font-size: 11px;
	color: #999;
	margin-right: 1px;
}


/*--Dashboard Menu--*/
#dashboard-menu {
	list-style: none;
	padding-right: 0px;
	padding-left: 0px;
	margin-bottom: 0;
	margin-left: 0px;
}

#dashboard-menu>li>a {
	display: block;
	margin-right: 0px;
	margin-left: 0px;
	padding: 5px 0px 0px 0px;
	margin-bottom: 5px;
	color: rgb(110, 130, 155);
	outline: 0px;
	width: 100%;
}

#dashboard-menu>li {
	position: relative;
}

/* font awesome icon */
#dashboard-menu>li .icon-group {
	font-size: 22px;
}

#dashboard-menu>li i {
	font-size: 15px;
	top: 3px;
}

#dashboard-menu .pointer {
	position: absolute;
	right: 9px;
	top: 20px;
}

#dashboard-menu .pointer .arrow,#dashboard-menu .pointer .arrow_border {
	border-color: transparent #fff transparent transparent;
	border-width: 11px;
	border-style: solid;
	font-size: 0;
	left: 50%;
	line-height: 0;
	margin: 0 auto;
	position: absolute;
	top: 0;
	width: 0;
	z-index: 1002;
	left: 0;
	margin-left: 45%;
}

#dashboard-menu .pointer .arrow_border {
	border-color: transparent rgb(192, 210, 221) transparent transparent;
	border-width: 11px;
	margin-left: -1px;
	border-style: solid;
	z-index: 1001;
	top: 0px;
}

#dashboard-menu a span {
	margin-left: 25px;
	transition: color .1s linear;
	-moz-transition: color .1s linear;
	-webkit-transition: color .1s linear;
	-o-transition: color .1s linear;
}

#dashboard-menu a.ui-elements span {
	margin-left: 25px;
}

#dashboard-menu a i {
	position: absolute;
	left: 0;
	height: 24px;
	/* width: 11px; */
	opacity: 0.7;
	transition: opacity .1s ease;
	-moz-transition: opacity .1s ease;
	-webkit-transition: opacity .1s ease;
	-o-transition: opacity .1s ease;
	padding: 5px 0px 0px 5px;
}

#dashboard-menu a i.icon-chevron-up {
	position: relative;
	top: 0px;
	font-size: 11px;
	color: rgb(104, 104, 104);
	width: initial;
	height: initial;
}

#dashboard-menu>li:hover i {
	opacity: 1;
}

#dashboard-menu>li.active>a,#dashboard-menu>li>a:hover {
	color: rgba(51, 69, 90, 1);
	text-decoration: none;
}

#dashboard-menu>li.active a {
	font-weight: 600;
}

#dashboard-menu>li.active i {
	opacity: 1;
}
/* Dashboard sidebar submenus */
#dashboard-menu>li.active .dropdown-toggle {
	border-bottom: 0px;
	box-shadow: none;
}

#dashboard-menu ul.submenu {
	list-style-type: none;
	margin-top: 5px;
	margin-bottom: 10px;
	margin-right: 0px;
	margin: 0px 10px;
	padding-left: 1px;
	border-bottom: 1px solid #dae1e8;
	box-shadow: 0 2px 1px -1px #FFFFFF;
	padding-bottom:0px;
}


#dashboard-menu ul.second-menu {
	border-bottom: none;
}

#dashboard-menu ul.submenu.active {
	display: block;
	background: #CDCDCD;
}

#dashboard-menu ul.submenu a {
	font-weight: normal;
	font-size: 13px;
	color: #000;
	text-decoration: none;
	display: block;
	margin-bottom: 0;
	padding-left: 30px;
}

#dashboard-menu .submenu li{
    height:25px;
}
#dashboard-menu .submenu li:hover{
    background: #f0f0f0;
}

#dashboard-menu .submenu li.active{
    background-color:#CDCDCD;
}

#dashboard-menu ul.submenu a:hover {
}

#dashboard-menu ul.submenu a.active {
	font-weight: bold;
	text-shadow: none;
}

/*Navigation Menu -- 2nd Section*/
#navigation-menu {
	list-style: none;
	padding-right: 0px;
	padding-left: 0px;
	margin-bottom: 0;
	margin-left: 0px;
	
}

#navigation-menu>li>a {
	background-color: #EDEDED;
	display: block;
	margin-left: 0px;
	padding: 2px 0px 0px 5px;
	color:#555e64;
	outline: 0px;
}

#navigation-menu>li {
	position: relative;
}

#navigation-menu>li.active>a,#navigation-menu>li>a:hover {
	color: #555e64;
	text-decoration: none;
}

#navigation-menu>li.active a {
    /* color:#6b7983; */
    height: 24px;
    font-weight:bold;
    
}

#navigation-menu>li.active i {
	opacity: 1;
}

/* font awesome icon */
#navigation-menu>li .icon-group {
	font-size: 22px;
}

#navigation-menu>li i {
	font-size: 23px;
	top: 6px;
}

#navigation-menu .pointer {
	position: absolute;
	right: 9px;
	top: 20px;
}

#navigation-menu .pointer .arrow,#navigation-menu .pointer .arrow_border
	{
	border-color: transparent #fff transparent transparent;
	border-width: 11px;
	border-style: solid;
	font-size: 0;
	left: 50%;
	line-height: 0;
	margin: 0 auto;
	position: absolute;
	top: 0;
	width: 0;
	z-index: 1002;
	left: 0;
	margin-left: 45%;
}

#navigation-menu .pointer .arrow_border {
	border-color: transparent rgb(192, 210, 221) transparent transparent;
	border-width: 11px;
	margin-left: -1px;
	border-style: solid;
	z-index: 1001;
	top: 0px;
}

#navigation-menu a span {
	margin-left: 9px;
	transition: color .1s linear;
	-moz-transition: color .1s linear;
	-webkit-transition: color .1s linear;
	-o-transition: color .1s linear;
}

#navigation-menu a.ui-elements span {
	margin-left: 25px;
}

#navigation-menu a i {
	position: absolute;
	/* height: 24px; */
	/* width: 24px; */
	opacity: 0.7;
	font-size: 13px;
	/* transition: opacity .1s ease; */
	-moz-transition: opacity .1s ease;
	/* -webkit-transition: opacity .1s ease; */
	-o-transition: opacity .1s ease;
}

#navigation-menu>li:hover i {
	opacity: 1;
}

/* Middle Navigation sidebar submenus */
#navigation-menu>li.active .dropdown-toggle {
	border-bottom: 0px;
	box-shadow: none;
}

#navigation-menu ul.submenu {
	list-style-type: none;
	margin-top: 0px;
	margin-left: 0px;
	padding-left: 0px;
	box-shadow: 0 2px 1px -1px #FFFFFF;
}

#navigation-menu ul.submenu.active {
	display: block;
}

#navigation-menu ul.submenu a {
	font-weight: normal;
	font-size: 13px;
	color: rgb(76, 83, 90);
	text-decoration: none;
	display: block;
	margin-bottom: 7px;
}

#navigation-menu ul.submenu a:hover {
	text-decoration: underline;
}

#navigation-menu ul.submenu a.active {
	font-weight: bold;
	text-shadow: none;
}

/*---Tablet Appearance---*/
@media (min-width: 768px) and (max-width: 1280px){ 
	
	/*1.Sidebar*/
	#dashboard-menu ul.submenu a{
	padding-left:7px;
	}
	#dashboard-menu a span{
	margin-left: 0px;
	}
    #dashboard-menu>li i{
       font-size: 12px;
       top: 5px
    }
    #dashboard-menu ul.submenu{
    	margin: 0px 2px;
    }
  	.btn-large{  
    padding: 10px 14px;
	font-size: 11px;
  	}
  	
  	/*2.Middle Navigation*/
  	#nav-top .search{
  	width: 86%;
  	}
  	#nav-top .search-box{
  	width: 90%;
  	}
}

