body {
	overflow-y: hidden;
	font-family:arial, sans-serif;
}

h1,h2,h3,h4,h5 {
	margin: 0;
	line-height: inherit;
	color: #29323d;
}


input.search {
	background: url("../img/ico-arrow-black.png") #fcfcfc no-repeat 208px 8px;
	box-shadow: none;
	height: 19px;
	font-size: 13px;
	padding: 2px 6px;
	border: 1px solid #d0dde9;
	margin: 0;
	border-radius: 2px;
	top: 29px;

}

textarea {
	width: 98%;
	padding-right: 5px;
	height: 70px;
	margin-bottom: 0px;
}

.header {
	margin-bottom: 60px;
}

.header h1,.header h2,.header h3,.header h4,.header h5 {
	float: left;
	margin-top: 5px;
}
#loading-text{
	text-align: center;
	color:#222;
	border-color:#f0c36d;
	background-color: #f0c36d;
	padding: 1px 0px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	font-weight: bold;
	width: 100px;
	margin: 0px;
	position: absolute;
	right: 648px;
	top: 0px;
	height: 20px;
}


/* Custom navbar stuff */
.navbar {
	background: url("../img/loading.gif")no-repeat #ffffff center;
	margin-bottom: 5px;
}

.navbar .brand {
	color: #1B1464;
	margin-top: 10px;
	text-shadow: 1px 1px #1B1464;
}
/* Login Logo*/
.login-wrapper .brand {
	text-decoration: none;
	font-size: 2em;
	color: #ffffff;
	margin: 20px;
	text-shadow: 1px 1px #1B1464;
}

/* search input */
.navbar input.search {
	background: url("img/lens.png") #0f1217 no-repeat 95%;
	border: 1px solid #0f1217;
	position: relative;
	border-radius: 4px;
	top: 9px;
	padding: 3px 6px;
	color: #000;
	font-size: 13px;
	margin-right: 40px;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	transition: all .3s linear;
}

.navbar input.search:focus {
	background-color: #fff;
}
/* navbar settings and logout icons */
.navbar .settings i {
	color: #9ba3ad;
	font-size: 21px;
}

.navbar .nav .dropdown-toggle .caret {
	margin-top: 15px;
}

.navbar .nav>li>a {
	
}
.navbar .home{
	height: 41px;
	border-left: 1px solid #dae1e8;
	position: relative;
	padding-top: 5px;
	font-size: 20px;	
}

/* notification menu with custom dropdown */
.navbar .notification-dropdown {
	height: 41px;
	border-left: 1px solid #dae1e8;
	border-right: 1px solid #dae1e8;
	position: relative;
	padding-top: 5px;
}

.navbar .loading {
	background: url("../img/ajax-loader.gif")no-repeat top;
}

.navbar .notification-dropdown i {
	font-size: 25px;
	opacity: .75
}

.navbar .notification-dropdown>i.active {
	opacity: 1;
	background: #ffffff;
}

.navbar .notification-dropdown .label {
	position: absolute;
	top: 5px;
	left: 60%;
	padding: 0px 5px;
	border-radius: 30px;
	color: #fff;
	line-height: 16px;
	z-index: 9999;
	text-align: center;
	font-size: 11px;
}

/* navbar popup dialog */
.navbar .pop-dialog {
	position: absolute;
	right: -10px;
	top: 55px;
	display: none;
}

.navbar .pop-dialog.is-visible {
	display: block;
	-webkit-animation: reveal .2s ease-out;
	-moz-animation: reveal .2s ease-out;
	animation: reveal .2s ease-out;
}

.navbar .pop-dialog .body {
	box-shadow: 0px 1px 9px 1px #c2c2c2;
	overflow: hidden;
}

.navbar  .pop-dialog .footer {
	border-top: 1px solid #e6e8e9;
	/* background-color: #eff4f7; */
	margin: 0px 0px 0px 0px;
	border-radius: 0px 0px 5px 5px;
	padding: 3px 20px;
	text-align: center;
	color: #3b5998;
}

.navbar  .pop-dialog .footer a {
	font-weight: 600;
	color: #7d91a8;
}

/* navbar popup dialog for notifications */
.navbar  .pop-dialog .notifications {
	width: 330px;
	margin: 0px 0px 0px 0px;
	max-height: 500px;
	overflow: auto;
}

.navbar  .pop-dialog .notifications h3 {
	font-size: 11px;
	color: #404951;
	font-weight: bold;
	padding-left: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.navbar  .pop-dialog .notifications .item {
	display: block;
	padding: 1px 0px 7px 42px;
	border-top: 1px solid #E7E8EA;
	color: rgb(54, 54, 54);
	font-size: 11px;
	text-decoration: none;
	position: relative;
	transition: all .25s linear;
	-moz-transition: all .25s linear;
	-webkit-transition: all .25s linear;
	-o-transition: all .25s linear;
}

.navbar  .pop-dialog .notifications .unread {
	background: #f4f6f9;
}

.navbar  .pop-dialog .notifications .item:hover {
	background: #f4f6f9;
}

.navbar  .pop-dialog .notifications .item .bluename {
	font-weight: bold;
}

.navbar  .pop-dialog .notifications .item>i {
	color: rgb(252, 130, 123);
	position: absolute;
	left: 13px;
	font-size: 20px;
	top: 11px;
}

.navbar  .pop-dialog .notifications .item>i.icon-user {
	left: 18px;
}

.navbar  .pop-dialog .notifications .item .time {
	color: #228BEB;
	font-style: italic;
	font-weight: 600;
	font-size: 11px;
	min-width: 60px;
	margin-left: 5px;
}

.navbar  .pop-dialog .notifications .item .time i {
	font-size: 11px;
	color: #999;
	margin-right: 1px;
}

/* navbar popup dialog for messages */
.navbar .pop-dialog .messages {
	width: 330px;
	margin: 10px -10px 0px -10px;
}

.navbar  .pop-dialog .messages .item {
	display: block;
	padding: 10px 20px 15px 20px;
	height: 54px;
	border-bottom: 1px solid #e7e8ea;
	color: rgb(54, 54, 54);
	text-decoration: none;
	position: relative;
	transition: all .25s linear;
	-moz-transition: all .25s linear;
	-webkit-transition: all .25s linear;
	-o-transition: all .25s linear;
}

.navbar  .pop-dialog .messages .item.last {
	border-bottom: 0px;
}

.navbar  .pop-dialog .messages .item:hover {
	background: rgb(240, 246, 255);
}

.navbar  .pop-dialog .messages .item .display {
	float: left;
	border-radius: 50px;
	margin-right: 15px;
}

.navbar  .pop-dialog .messages .item .name {
	font-size: 12px;
	color: #404951;
	font-weight: bold;
}

.navbar  .pop-dialog .messages .item .msg {
	font-size: 11px;
	color: rgb(117, 118, 119);
	font-weight: 600;
	line-height: 13px;
	position: relative;
	top: -1px;
}

.navbar  .pop-dialog .messages .item .time {
	position: absolute;
	right: 0px;
	bottom: 6px;
	color: #82a3c1;
	font-style: italic;
	font-weight: 600;
	font-size: 11px;
	min-width: 60px;
	margin-right: 5px;
}

.navbar  .pop-dialog .messages .item .time i {
	font-size: 13px;
	color: #cfcfcf;
	margin-right: 1px;
}

.navbar  .pop-dialog .messages .footer {
	margin-top: 6px;
}
/*User-Account*/
.navbar .dropdown-menu {
	background: #f5f5f5;
	margin: 0px;
	padding: 0px;
	vertical-align: top;
	width: 240px;
}

.navbar #changephoto {
	padding: 7px 0;
	-webkit-transition: background-color .218s ease-in-out;
	transition: background-color .218s ease-in-out;
	background-color: #4d90fe;
	bottom: 0;
	color: #fff;
	display: block;
	font-size: 9px;
	font-weight: bold;
	position: absolute;
	text-align: center;
	text-decoration: none !important;
	-moz-transition: opacity .218s ease-in-out;
	-o-transition: opacity .218s ease-in-out;
	-webkit-transition: opacity .218s ease-in-out;
	transition: opacity .218s ease-in-out;
	white-space: normal;
	width: 96px;
}

.navbar .dropdown-menu .user-details {
	display: inline-block;
	background: #fff;
	border-bottom: 1px solid #bebebe;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
	box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
	padding: 15px 8px;
	width: 225px;
}

.navbar .dropdown-menu .user-details .span1 {
	width: 70px;
	/* height:70px; */
}

.navbar .dropdown-menu .user-details .span2 {
	width: 130px;
	/* height:70px; */
	padding-left: 10px;
}

.navbar .dropdown-menu .action-area {
	padding: 10px;
	padding-top: 0px;
}

.navbar .dropdown-menu .text {
	font-weight: bold;
	color: #000;
}
/*Whole Inside Container*/
.main-container {
	background-color: #fafafa;
}

/* Sidebar */
#sidebar-nav .add-doc {
	padding-bottom: 10px;
	margin-left: 31px;
}

#sidebar-nav .add-doc .btn {
	
}

#sidebar-nav {
	/*border-right: 1pt solid #B3B3B3;*/
	width: 200px;
	min-height: 700px;
	padding: 10px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.working-request{
	background: #ffffff;
    opacity:.4; 
}
#separator{
	overflow: hidden;
	/*background: url("../img/border.png") -0px -0px no-repeat;*/
	height: 5px;
	background-size: 100% 8px;
	position: relative;
	top: 10px;
}

/*---Middle-Pane--- */

#nav-top {
    position: absolute;
    border-bottom: 1px solid #b5b5b5;
    width: 288px;
    background: #ffffff;
    padding-left: 5px;
    top: 53px;
    left: 200px;
    border: 1px solid #CCCCCC;
    border-bottom:none;
    border-right: none;
}
#nav-top i{
    display: inline;
}
#nav-top h5{   
    display: inline-block;
    margin-top: 5px;
}

#middle-nav {
    background:#ffffff;
	margin: 0em;
    padding: 0px 0px 5px 0px;
	padding-right: 0px;
	border: 1px solid #CCCCCC;
	
	width: 295px;
	
    margin-top: 56px;
    height: 531px;
	border-right: none;
    overflow-y:auto
}


#middle-nav .nav-top i {
	margin-left: 5px;
	cursor: pointer;
}

#middle-nav .header-nav {
	padding-top: 5px;
}

#middle-nav h5 {
	color: #0000FF;
	font-weight: bold;
	float: left;
	margin-top: 2px;
}

#middle-nav .ui-dropdown {
	float: right;
}

#middle-nav .content-nav {
	padding-top: 2px;
	overflow-y: auto;
    overflow-x: hidden;
}

#middle-nav .message-container {
	border-bottom: 1px solid #dae1e8;
	cursor: pointer;
	background-color: #fafafa;
}

#middle-nav .message-container:hover {
	background-color: #fafafa;
}

#middle-nav .message-container .label {
	float: right;
	margin-right: 20px;
	margin-top: 10px;
	font-weight: normal;
}
#middle-nav .message-container .bluename {
    font-weight:bold;
    font-size:12px;
}

#middle-nav .icon-refresh{
    text-decoration:none;
}

#middle-nav p {
	margin: 0 0 2px;
	padding-left: 10px;
	padding-bottom: 10px;
}

#middle-nav .unread {
	border-left: 2px solid #0000FF;
	font-weight: 100;

	background-color: #ffffff;
}

#middle-nav .unread p {
	padding-left: 7px;
}

/*---Detailed-Info---*/
#detailed-info {
	background-color: #ffffff;
	margin-left: 0px;
	/* padding: 0px 15px 10px 0px; */
	border: 1px solid #CCCCCC;
	width: 870px;
	min-height: 580px;
	overflow-y: auto;
	overflow-x: hidden;
}
#detailed-info .upper-content{
    min-height:500px;
}
#detailed-info .doc-title{
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding: 14px 0px 0px 0px;
}
#detailed-info .action-area i{
    margin-right:5px;
}

#detailed-info .action-buttons{  
    padding-top: 5px;
    padding-right: 10px;
}
#detailed-info .action-buttons .dropdown-menu{
    left:-45px; 
    min-width:100px;
}

#detailed-info .action-area {
	display:inline-block;
	padding: 0px 0px 7px 10px;
	border-bottom:2px solid #CCCCCC;
	width: 858px;
}

#detailed-info .action-area a:hover {
	text-decoration: none;
	cursor: pointer;
}

#detailed-info .personal_info {
	padding: 1px 0 0px 15px;
	height: 30px;
	border-bottom:2px solid #CCCCCC;
	margin-left: 0px;
}

#detailed-info .personal_info .span4 {
	margin-left: 5px;
}
#detailed-info .content-area{
    padding: 39px 0 0 12px;
    font-size:14px;
}
#detailed-info .content-area div{	
	padding-bottom:10px;
}

#detailed-info .attachment-section {
	border-top: 1px solid #CCCCCC;
	margin: 0px;
	padding: 5px 0 10px 0;
	
}
#detailed-info .attachment-section attatchment-links{
	font-size:11px;
	padding-left:10px;
}

#detailed-info .status-section{
	font-weight:normal;
	border:1px solid #CCCCCC;
	padding:10px;
	margin-left:0px;
	}

#detailed-info .status-section span{
	display: block;
	margin-bottom: 10px;
}
#detailed-info .status-section i {
	text-align:center;
	font-size: 17px;
	margin-right:6px;
}

#detailed-info .status-section .pull-right {
	float:none;
	margin-left:80px;
}
#detailed-info .recent-activity{
	border:1px solid #cccccc;
	padding: 10px 6px 6px 6px;
	width: 642px;
	overflow-y: auto;
	overflow-x: hidden;
	margin-left: 12px;
	position: relative;
	top : -20px;
}
.title{
	position: relative;
	text-align:center;
	font-weight:bold;
	text-transform:uppercase;
	top: -10px;
	left: 231px;
	background:#ffffff;
}
#detailed-info .recent-activity .span1{
	padding-top: 4px;
	width: 50px;
	height: 50px;
}
#detailed-info .recent-activity .span8{
    margin-left:3px;
}

#detailed-info .recent-activity .name{
	font-weight:bold;
	color:#419AB0;	
}

#detailed-info .recent-activity .well{
	padding: 5px;
	margin-left: 53px;
	width: 390px;
}

/*--Dashboard Menu--*/
#dashboard-menu {
	list-style: none;
	padding-right: 0px;
	padding-left: 0px;
	margin-bottom: 0;
	margin-left: 0px;
}

#dashboard-menu>li>a {
	display: block;
	margin-right: 0px;
	margin-left: 0px;
	padding: 5px 0px 0px 0px;
	margin-bottom: 5px;
	color: rgb(110, 130, 155);
	outline: 0px;
	width: 90%;
}

#dashboard-menu>li {
	position: relative;
}

/* font awesome icon */
#dashboard-menu>li .icon-group {
	font-size: 22px;
}

#dashboard-menu>li i {
	font-size: 15px;
	top: 3px;
}

#dashboard-menu .pointer {
	position: absolute;
	right: 9px;
	top: 20px;
}

#dashboard-menu .pointer .arrow,#dashboard-menu .pointer .arrow_border {
	border-color: transparent #fff transparent transparent;
	border-width: 11px;
	border-style: solid;
	font-size: 0;
	left: 50%;
	line-height: 0;
	margin: 0 auto;
	position: absolute;
	top: 0;
	width: 0;
	z-index: 1002;
	left: 0;
	margin-left: 45%;
}

#dashboard-menu .pointer .arrow_border {
	border-color: transparent rgb(192, 210, 221) transparent transparent;
	border-width: 11px;
	margin-left: -1px;
	border-style: solid;
	z-index: 1001;
	top: 0px;
}

#dashboard-menu a span {
	margin-left: 31px;
	transition: color .1s linear;
	-moz-transition: color .1s linear;
	-webkit-transition: color .1s linear;
	-o-transition: color .1s linear;
}

#dashboard-menu a.ui-elements span {
	margin-left: 25px;
}

#dashboard-menu a i {
	position: absolute;
	left: 0;
	height: 24px;
	/* width: 11px; */
	opacity: 0.7;
	transition: opacity .1s ease;
	-moz-transition: opacity .1s ease;
	-webkit-transition: opacity .1s ease;
	-o-transition: opacity .1s ease;
	padding: 5px 0px 0px 10px;
}

#dashboard-menu a i.icon-chevron-up {
	position: relative;
	top: 0px;
	font-size: 11px;
	color: rgb(104, 104, 104);
	width: initial;
	height: initial;
	right: 19px;
}

#dashboard-menu>li:hover i {
	opacity: 1;
}

#dashboard-menu>li.active>a,#dashboard-menu>li>a:hover {
	color: rgba(51, 69, 90, 1);
	text-decoration: none;
}

#dashboard-menu>li.active a {
	font-weight: 600;
}

#dashboard-menu>li.active i {
	opacity: 1;
}
/* Dashboard sidebar submenus */
#dashboard-menu>li.active .dropdown-toggle {
	border-bottom: 0px;
	box-shadow: none;
}

#dashboard-menu ul.submenu {
	list-style-type: none;
	margin-top: 5px;
	margin-bottom: 10px;
	margin-right: 0px;
	margin: 0px 10px;
	padding-left: 1px;
	border-bottom: 1px solid #dae1e8;
	box-shadow: 0 2px 1px -1px #FFFFFF;
	padding-bottom:0px;
}


#dashboard-menu ul.second-menu {
	border-bottom: none;
}

#dashboard-menu ul.submenu.active {
	display: block;
	background: #CDCDCD;
}

#dashboard-menu ul.submenu a {
	font-weight: normal;
	font-size: 13px;
	color: #000;
	text-decoration: none;
	display: block;
	margin-bottom: 0;
	padding-left: 30px;
}

#dashboard-menu .submenu li{
    height:25px;
}
#dashboard-menu .submenu li:hover{
    background: #f0f0f0;
}

#dashboard-menu .submenu li.active{
    background-color:#CDCDCD;
}

#dashboard-menu ul.submenu a:hover {
}

#dashboard-menu ul.submenu a.active {
	font-weight: bold;
	text-shadow: none;
}

/*Navigation Menu -- 2nd Section*/
#navigation-menu {
	list-style: none;
	padding-right: 0px;
	padding-left: 0px;
	margin-bottom: 0;
	margin-left: 0px;
	
}

#navigation-menu>li>a {
	background-color: #EDEDED;
	display: block;
	margin-left: 0px;
	padding: 2px 0px 0px 5px;
	color:#555e64;
	outline: 0px;
}

#navigation-menu>li {
	position: relative;
}

#navigation-menu>li.active>a,#navigation-menu>li>a:hover {
	color: #555e64;
	text-decoration: none;
}

#navigation-menu>li.active a {
    /* color:#6b7983; */
    height: 24px;
    font-weight:bold;
    
}

#navigation-menu>li.active i {
	opacity: 1;
}

/* font awesome icon */
#navigation-menu>li .icon-group {
	font-size: 22px;
}

#navigation-menu>li i {
	font-size: 23px;
	top: 6px;
}

#navigation-menu .pointer {
	position: absolute;
	right: 9px;
	top: 20px;
}

#navigation-menu .pointer .arrow,#navigation-menu .pointer .arrow_border
	{
	border-color: transparent #fff transparent transparent;
	border-width: 11px;
	border-style: solid;
	font-size: 0;
	left: 50%;
	line-height: 0;
	margin: 0 auto;
	position: absolute;
	top: 0;
	width: 0;
	z-index: 1002;
	left: 0;
	margin-left: 45%;
}

#navigation-menu .pointer .arrow_border {
	border-color: transparent rgb(192, 210, 221) transparent transparent;
	border-width: 11px;
	margin-left: -1px;
	border-style: solid;
	z-index: 1001;
	top: 0px;
}

#navigation-menu a span {
	margin-left: 9px;
	transition: color .1s linear;
	-moz-transition: color .1s linear;
	-webkit-transition: color .1s linear;
	-o-transition: color .1s linear;
}

#navigation-menu a.ui-elements span {
	margin-left: 25px;
}

#navigation-menu a i {
	position: absolute;
	/* height: 24px; */
	/* width: 24px; */
	opacity: 0.7;
	font-size: 13px;
	/* transition: opacity .1s ease; */
	-moz-transition: opacity .1s ease;
	/* -webkit-transition: opacity .1s ease; */
	-o-transition: opacity .1s ease;
}

#navigation-menu>li:hover i {
	opacity: 1;
}

/* Middle Navigation sidebar submenus */
#navigation-menu>li.active .dropdown-toggle {
	border-bottom: 0px;
	box-shadow: none;
}

#navigation-menu ul.submenu {
	list-style-type: none;
	margin-top: 0px;
	margin-left: 0px;
	padding-left: 0px;
	box-shadow: 0 2px 1px -1px #FFFFFF;
}

#navigation-menu ul.submenu.active {
	display: block;
}

#navigation-menu ul.submenu a {
	font-weight: normal;
	font-size: 13px;
	color: rgb(76, 83, 90);
	text-decoration: none;
	display: block;
	margin-bottom: 7px;
}

#navigation-menu ul.submenu a:hover {
	text-decoration: underline;
}

#navigation-menu ul.submenu a.active {
	font-weight: bold;
	text-shadow: none;
}

#pad-wrapper {
	padding: 0px 25px;
	margin-top: 55px;
}

#pad-wrapper h4 {
	margin: 0 0 0 20px;
	color: #696d73;
	font-style: italic;
}

.content {
	min-width: 400px;
	min-height: 620px;
	margin-bottom: 100px;
	padding-bottom: 50px;
	overflow: hidden;
	position: relative;
	background: #fff;
	margin-left: 177px;
	border-left: 1px solid #dae3e9;
	border-bottom: 1px solid #dae3e9;
	box-shadow: -3px 3px 3px -2px #f1f1f3;
	border-radius: 0px 0px 0px 5px;
}

.content.wide-content {
	margin-left: 0;
	border-radius: 0;
}

/* starts skins changer */
.content .skins-nav {
	opacity: 1;
	-webkit-transition: right .3s;
	-moz-transition: right .3s;
	-ms-transition: right .3s;
	-o-transition: right .3s;
	transition: right .3s;
	position: fixed;
	right: -85px;
	top: 135px;
	font-size: 13px;
	z-index: 9999;
}

.content .skins-nav:hover {
	right: 0;
}

.content .skins-nav a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding-left: 10px;
	height: 37px;
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
	margin-bottom: 3px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

.content .skins-nav a.first_nav {
	background: rgba(95, 175, 228, 0.8);
}

.content .skins-nav a.second_nav {
	background: rgba(36, 43, 77, 0.8);
}

.content .skins-nav a.first_nav:hover {
	background: rgba(95, 175, 228, 1);
}

.content .skins-nav a.second_nav:hover {
	background: rgba(36, 43, 77, 1);
}

.content .skins-nav a .icon {
	float: left;
	width: 9px;
	height: 10px;
	background: url('../img/skin-nav-bullets.png') 0 0 no-repeat;
	margin: 15px 15px 0 5px;
}

.content .skins-nav a.selected .icon {
	background-position: 0 -9px;
}

.content .skins-nav a .text {
	padding-right: 12px;
	white-space: nowrap;
	display: block;
	width: 100px;
	position: relative;
	top: 9px;
	-webkit-transition: width .2s;
	-moz-transition: width .2s;
	-ms-transition: width .2s;
	-o-transition: width .2s;
	transition: width .2s;
}
/* end skin changer*/
/* responsive */
@media ( max-width : 1020px) {
	.content {
		margin-left: 65px;
	}
	#dashboard-menu {
		margin-left: 5px;
	}
	#dashboard-menu .pointer {
		display: none;
	}
	#dashboard-menu li a span {
		visibility: hidden;
	}
}

@media ( max-width : 600px) {
	.content {
		margin-left: 0em;
		border-left-width: 0px;
	}
}

@media ( max-width : 822px) {
	.navbar input.search {
		display: none;
	}
}

@media ( max-width : 767px) {
	#pad-wrapper {
		padding: 0px 10px;
	}
	.content {
		min-width: 0px;
		margin: 0;
	}
	#main-stats .stat {
		width: 50%;
		float: left;
	}
	#sidebar-nav {
		left: -200px;
		position: fixed;
		z-index: 9999;
		background-color: #f7f7f7;
		padding-top: 0px;
		border-right: 1px solid #ccc;
		width: 165px;
		box-shadow: 1px 1px 4px 1px rgb(233, 233, 233);
		-webkit-transition: left .25s ease;
		-moz-transition: left .25s ease;
		-o-transition: left .25s ease;
		-ms-transition: left .25s ease;
		transition: left .25s ease;
	}
	#sidebar-nav #dashboard-menu {
		margin-left: 10px;
	}
	#sidebar-nav #dashboard-menu li a span {
		visibility: visible;
	}
	#sidebar-nav #dashboard-menu li:last-child a {
		border-bottom: 0px;
		box-shadow: none;
	}
	#sidebar-nav.display {
		position: absolute;
		left: 0;
		height: 100%;
	}
}
.hide{
	display:none;
}

.button-group {
	/*background: url("images/gradient-t-b.png") repeat-x scroll 0 0
		transparent;*/
	border-top: 1px solid #D5D7DB;
	padding: 10px;
	text-align: center;
}