<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="true">
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-4r %-5p %x- %m%n"/>
        </layout>
    </appender>
    <logger name="org.springframework.security.ldap">
        <level value="FATAL"/>
    </logger>
    <logger name="org.hibernate">
        <level value="WARN"/>
    </logger>
    <logger name="org.apache.directory">
        <level value="FATAL"/>
    </logger>
    <logger name="org.jbpm.executor">
        <level value="WARN"/>
    </logger>
    <logger name="org.drools.xml">
    	<level value="FATAL"/>
    </logger>
    <logger name="org.apache">
        <level value="FATAL"/>
    </logger>
    <logger name="com.duggan.workflow.server">
        <level value="WARN"/>
    </logger>
    <logger name="com.duggan.workflow.server.dao.helper">
        <level value="DEBUG"/>
    </logger>
    <logger name="com.duggan.workflow.test">
        <level value="DEBUG"/>
    </logger>
    <logger name="com.duggan.pg.jsontyp.test">
        <level value="DEBUG"/>
    </logger>
    <logger name="xtension.workitems">
        <level value="WARN"/>
    </logger>
    <logger name="bitronix">
        <level value="FATAL"/>
    </logger>
    <root>
    	<level value="FATAL"/> 
        <appender-ref ref="console" /> 
    </root> 
</log4j:configuration>
