/* Add css rules here for your application. */

.dummycontainer{
	display:none;
}

.hidden{
	display:none;
}

#navigation-menu ul.submenu .wfactions a{
	display:inline;
}

.button-group{
	text-align:center;
}

.button-group button{
	margin-right:3px;
}

.button-group {
	background: url("images/gradient-t-b.png") repeat-x scroll 0 0 transparent;
	border-top: 1px solid #D5D7DB;
	padding: 10px;
	text-align: center;
}

.mandatory{
	color:red
}

.priority-group{
	display:inline;
}

.priority-group input, .priority-group label{
	display:inline;
	margin-right:5px;
}

.hand:hover{
	cursor:pointer;
	cursor:hand;
}

.uploader{
	display:block;
}

.vld-Summary{
	color: red;
	display: none;
	border: solid 1px red;
	padding: 5px;
}

.vld-Summary span{
	font-size: 12px;
	font-weight: bold;
}	

.vld-Summary-show{
	display: block;
}	

#radiobtns{
	display:block;
}

#radiobtns label{
	display:inline-block !important;
	padding:0 10px 0px 3px;
	vertical-align: text-top;
}

#detailed-info .form-horizontal .generic-row .td input{
	padding:1px 8px;
	font-size:12px;
}

#detailed-info .form-horizontal .generic-row .td .gwt-InlineLabel{
	padding:1px 8px;
	font-size:12px;
}

#detailed-info .form-horizontal .generic-row .controls {
    margin-left:0px;
}

#detailed-info .form-horizontal .controls .comment-container{
 	border:0px;	
}

.form-horizontal .generic-row .controls {
    margin-left:0px;
}

.generic-row .td{
	padding:0px;
	padding-left:1px;
}

.tr .generic-header{
	text-align:center;
}

#detailed-info .generic-doc-title{
	text-transform: uppercase;
	font-size: 115%;
	font-weight: bold;
	padding: 10px 0px 0px 0px;
	color: #222;
	font-family: arial,sans-serif;
	margin-left: 11px;
}

.dateinput, .compositeinput{
	display:inline-block;
}

.dateinput .input-group .input-group-addon{
	display:inline;
	display:-moz-compact;	
}

.control-group .controls .comment-container{
	display:inline-block;
	width:95%;
	max-width:95%;
}

.control-group .controls .gwt-RadioButton-disabled{
	color: #000000;
}
