@page {
	
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show
}

td,th {
	font-size: 12pt;
}

h1,h2,h3,h4,h5,h6 {
	clear: both
}

ol,ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
	margin: 0;
	padding: 0;
}

span.footnodeNumber {
	padding-right: 1em;
}

span.annotation_style_by_filter {
	font-size: 95%;
	font-family: Arial;
	background-color: #fff000;
	margin: 0;
	border: 0;
	padding: 0;
}

* {
	margin: 0;
}

.fr1 {
	font-size: 12pt;
	vertical-align: top;
	writing-mode: lr-tb;
	margin-left: 0.1256in;
	margin-right: 0.1256in;
	background-color: #ffffff;
	padding: 0.0102in;
	border-style: none;
}

.fr2 {
	font-size: 12pt;
	vertical-align: top;
	writing-mode: lr-tb;
	margin-left: 0.1256in;
	margin-right: 0.1256in;
	background-color: #ffffff;
	padding-left: 0.1102in;
	padding-right: 0.1102in;
	padding-top: 0.0602in;
	padding-bottom: 0.0602in;
	border-style: none;
}

.Heading_20_1 {
	font-size: 10pt;
	text-align: left ! important;
	font-family: Times New Roman;
	writing-mode: lr-tb;
	font-weight: bold;
}

.P1 {
	font-size: 18pt;
	text-align: left ! important;
	font-family: Helvetica Neue;
	writing-mode: lr-tb;
	font-weight: bold;
}

.P10 {
	font-size: 12pt;
	text-align: center ! important;
	font-family: Helvetica Neue;
	writing-mode: lr-tb;
}

.P11 {
	font-size: 12pt;
	text-align: center ! important;
	font-family: Helvetica Neue;
	writing-mode: lr-tb;
}

.P12 {
	font-size: 12pt;
	text-align: left ! important;
	font-family: Helvetica Neue;
	writing-mode: lr-tb;
}

.P13 {
	font-size: 12pt;
	text-align: left ! important;
	font-family: Helvetica Neue;
	writing-mode: lr-tb;
}

.P14 {
	font-size: 12pt;
	text-align: left ! important;
	font-family: Helvetica Neue;
	writing-mode: lr-tb;
}

.P15 {
	font-size: 12pt;
	text-align: left ! important;
	font-family: Helvetica Neue;
	writing-mode: lr-tb;
}

.P16 {
	font-size: 10pt;
	text-align: left ! important;
	font-family: Helvetica Neue;
	writing-mode: lr-tb;
}

.P17 {
	font-size: 10pt;
	text-align: left ! important;
	font-family: Helvetica Neue;
	writing-mode: lr-tb;
	font-weight: bold;
}

.P18 {
	font-size: 10pt;
	text-align: left ! important;
	font-family: Helvetica Neue;
	writing-mode: lr-tb;
}

.P19 {
	font-size: 12pt;
	text-align: left ! important;
	font-family: Helvetica Neue;
	writing-mode: lr-tb;
}

.P2 {
	font-size: 12pt;
	text-align: left ! important;
	font-family: Helvetica Neue;
	writing-mode: lr-tb;
}

.P20 {
	font-size: 12pt;
	text-align: left ! important;
	font-family: Helvetica Neue;
	writing-mode: lr-tb;
	font-weight: bold;
}

.P21 {
	font-size: 12pt;
	text-align: left ! important;
	font-family: Helvetica Neue;
	writing-mode: lr-tb;
	font-weight: bold;
}

.P22 {
	font-size: 12pt;
	text-align: left ! important;
	font-family: Helvetica Neue;
	writing-mode: lr-tb;
	font-weight: bold;
}

.P23 {
	font-size: 12pt;
	text-align: left ! important;
	font-family: Helvetica Neue;
	writing-mode: lr-tb;
	font-weight: bold;
}

.P24 {
	font-size: 8pt;
	text-align: left ! important;
	font-family: Helvetica Neue;
	writing-mode: lr-tb;
}

.P25 {
	font-size: 12pt;
	text-align: left ! important;
	font-family: Helvetica Neue;
	writing-mode: lr-tb;
	text-decoration: underline;
	font-weight: bold;
}

.P26 {
	font-size: 12pt;
	text-align: left ! important;
	font-family: Times New Roman;
	writing-mode: lr-tb;
	color: #993366;
}

.P27 {
	font-size: 9pt;
	text-align: left ! important;
	font-family: Times New Roman;
	writing-mode: lr-tb;
	color: #993366;
}

.P28 {
	font-size: 12pt;
	text-align: left ! important;
	font-family: Arial;
	writing-mode: lr-tb;
	color: #993366;
}

.P29 {
	font-size: 12pt;
	text-align: left ! important;
	font-family: Times New Roman;
	writing-mode: lr-tb;
}

.P3 {
	font-size: 12pt;
	text-align: left ! important;
	font-family: Helvetica Neue;
	writing-mode: lr-tb;
}

.P30 {
	font-size: 12pt;
	text-align: left ! important;
	font-family: Times New Roman;
	writing-mode: lr-tb;
}

.P31 {
	font-size: 12pt;
	text-align: left ! important;
	font-family: Times New Roman;
	writing-mode: lr-tb;
}

.P32 {
	font-size: 12pt;
	text-align: left ! important;
	font-family: Times New Roman;
	writing-mode: lr-tb;
}

.P33 {
	font-size: 12pt;
	text-align: left ! important;
	font-family: Helvetica Neue;
	writing-mode: lr-tb;
	font-weight: bold;
}

.P34 {
	font-size: 12pt;
	text-align: center ! important;
	font-family: Helvetica Neue;
	writing-mode: lr-tb;
	font-weight: bold;
}

.P35 {
	font-size: 18pt;
	text-align: left ! important;
	font-family: Helvetica Neue;
	writing-mode: lr-tb;
}

.P4 {
	font-size: 12pt;
	text-align: left ! important;
	font-family: Helvetica Neue;
	writing-mode: lr-tb;
}

.P5 {
	font-size: 12pt;
	text-align: left ! important;
	font-family: Helvetica Neue;
	writing-mode: lr-tb;
}

.P6 {
	font-size: 12pt;
	text-align: left ! important;
	font-family: Helvetica Neue;
	writing-mode: lr-tb;
}

.P7 {
	font-size: 12pt;
	text-align: left ! important;
	font-family: Helvetica Neue;
	writing-mode: lr-tb;
}

.P8 {
	font-size: 12pt;
	text-align: left ! important;
	font-family: Helvetica Neue;
	writing-mode: lr-tb;
}

.P9 {
	font-size: 12pt;
	text-align: left ! important;
	font-family: Helvetica Neue;
	writing-mode: lr-tb;
}

.Standard {
	font-size: 12pt;
	font-family: Times New Roman;
	writing-mode: lr-tb;
	text-align: left ! important;
}

.Table1 {
	width: 7.6847in;
	margin-left: -0.0924in;
	writing-mode: lr-tb;
}

.Table1_A1 {
	vertical-align: top;
	padding-left: 0.075in;
	padding-right: 0.075in;
	padding-top: 0in;
	padding-bottom: 0in;
	border-left-width: 0.0353cm;
	border-left-style: solid;
	border-left-color: #ff00ff;
	border-right-style: none;
	border-top-width: 0.0353cm;
	border-top-style: solid;
	border-top-color: #ff00ff;
	border-bottom-width: 0.0176cm;
	border-bottom-style: solid;
	border-bottom-color: #ff00ff;
	writing-mode: lr-tb;
}

.Table1_A2 {
	vertical-align: top;
	padding-left: 0.075in;
	padding-right: 0.075in;
	padding-top: 0in;
	padding-bottom: 0in;
	border-left-width: 0.0353cm;
	border-left-style: solid;
	border-left-color: #ff00ff;
	border-right-style: none;
	border-top-width: 0.0176cm;
	border-top-style: solid;
	border-top-color: #ff00ff;
	border-bottom-width: 0.0176cm;
	border-bottom-style: solid;
	border-bottom-color: #ff00ff;
	writing-mode: lr-tb;
}

.Table1_A31 {
	vertical-align: top;
	padding-left: 0.075in;
	padding-right: 0.075in;
	padding-top: 0in;
	padding-bottom: 0in;
	border-left-width: 0.0353cm;
	border-left-style: solid;
	border-left-color: #ff00ff;
	border-right-style: none;
	border-top-width: 0.0176cm;
	border-top-style: solid;
	border-top-color: #ff00ff;
	border-bottom-width: 0.0353cm;
	border-bottom-style: solid;
	border-bottom-color: #ff00ff;
	writing-mode: lr-tb;
}

.Table1_B2 {
	vertical-align: top;
	padding-left: 0.075in;
	padding-right: 0.075in;
	padding-top: 0in;
	padding-bottom: 0in;
	border-left-width: 0.0176cm;
	border-left-style: solid;
	border-left-color: #ff00ff;
	border-right-style: none;
	border-top-width: 0.0176cm;
	border-top-style: solid;
	border-top-color: #ff00ff;
	border-bottom-width: 0.0176cm;
	border-bottom-style: solid;
	border-bottom-color: #ff00ff;
	writing-mode: lr-tb;
}

.Table1_B31 {
	vertical-align: top;
	padding-left: 0.075in;
	padding-right: 0.075in;
	padding-top: 0in;
	padding-bottom: 0in;
	border-left-width: 0.0176cm;
	border-left-style: solid;
	border-left-color: #ff00ff;
	border-right-style: none;
	border-top-width: 0.0176cm;
	border-top-style: solid;
	border-top-color: #ff00ff;
	border-bottom-width: 0.0353cm;
	border-bottom-style: solid;
	border-bottom-color: #ff00ff;
	writing-mode: lr-tb;
}

.Table1_G1 {
	vertical-align: top;
	padding-left: 0.075in;
	padding-right: 0.075in;
	padding-top: 0in;
	padding-bottom: 0in;
	border-width: 0.0353cm;
	border-style: solid;
	border-color: #ff00ff;
	writing-mode: lr-tb;
}

.Table1_A {
	width: 2.5701in;
}

.Table1_B {
	width: 0.2736in;
}

.Table1_C {
	width: 0.1993in;
}

.Table1_E {
	width: 0.2583in;
}

.Table1_F {
	width: 0.2799in;
}

.Table1_G {
	width: 3.8299in;
}

.T10 {
	font-family: Helvetica Neue;
	font-weight: bold;
}

.T11 {
	font-family: Helvetica Neue;
	font-weight: bold;
}

.T12 {
	color: #993366;
}

.T2 {
	font-family: Helvetica Neue;
}

.T3 {
	font-family: Helvetica Neue;
}

.T4 {
	font-family: Helvetica Neue;
	font-size: 10pt;
}

.T5 {
	font-family: Helvetica Neue;
	font-size: 10pt;
}

.T6 {
	font-family: Helvetica Neue;
	font-size: 10pt;
	font-weight: bold;
}

.T7 {
	font-family: Helvetica Neue;
	font-size: 10pt;
	font-weight: bold;
}

.T8 {
	font-family: Helvetica Neue;
	text-decoration: underline;
}

.T9 {
	font-family: Helvetica Neue;
	font-weight: bold;
}
