/** Add css rules here for your application. */

.auto_suggest {
    z-index: 20;
    background-color: white;
    padding: 10px;
    width: 400px;
    height: 230px;
}

.original-token-input {
    width: 396px;
    border: 1px solid #8496ba;
    font-size: 12px;
    font-family: Verdana;
    padding: 4px 8px;
}

/* Example tokeninput style #2: Facebook style */
ul.token-input-list-facebook {
    overflow: hidden;
    height: auto !important;
    height: 1%;
    /* width: 300px; */
    border: 1px solid #8496ba;
    cursor: text;
    font-size: 12px;
    font-family: Verdana;
    min-height: 1px;
    z-index: 999;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

ul.token-input-list-facebook {
    list-style-type: none;
}

ul.token-input-list-facebook li input {
    border: 0;
    width: 100px;
    padding: 3px 8px;
    background-color: white;
    margin: 2px 0;
}

li.token-input-token-facebook {
    overflow: hidden;
    height: auto !important;
    height: 1%;
    margin: 3px;
    padding: 1px 3px;
    background-color: #eff2f7;
    color: #000;
    cursor: default;
    border: 1px solid #ccd5e4;
    font-size: 11px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    float: left;
}

li.token-input-token-facebook p {
    display: inline;
    padding: 0;
    margin: 0;
}

li.token-input-token-facebook span {
    color: #a6b3cf;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
}

li.token-input-selected-token-facebook {
    background-color: #5670a6;
    border: 1px solid #3b5998;
    color: #fff;
}

li.token-input-input-token-facebook {
    float: left;
}

.gwt-SuggestBoxPopup{
	z-index:9999;
	border:none;
}