.login-bg {
	/* background: url("../../img/bgs/blueish.jpg") no-repeat center center fixed; */
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../img/bgs/landscape.html',
		sizingMethod='scale');
	-ms-filter:
		"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../img/bgs/landscape.jpg', sizingMethod='scale')";
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-color: #eee;
	background-size: cover;
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
}

.login-wrapper {
	position: absolute;
	top: 70px;
	text-align: center;
}

.login-wrapper img {
	margin-top: -19px;
	width: 66px;
	padding-right: 5px;
}

.login-wrapper .logo {
	margin-bottom: 45px;
	position: relative;
	left: -2px;
}

.login-wrapper .logo-title {
	margin-top: 3px;
	margin-bottom: 0;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 29px;
	max-height: 50px;
	color: #5F5D5D;
	display: inline-block;
	font-family: serif, sans-serif;
}

.span4.box {
	
}

.login-wrapper .box {
	margin: 23px auto;
	padding: 35px 0 30px;
	float: none;
	width: 450px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	background: #ffffff;
	min-height: 339px;
}

.login-wrapper li {
	list-style-type: none;
}

.login-wrapper .loading {
	background: #fcfcfc;
	opacity: 0.5;
}

.login-wrapper .loadingtext {
	color: #1119EE;
	font-size: 20px;
	top: 600px;
	opacity: 1;
}

.login-wrapper .hide {
	display: none;
}

.login-wrapper .box .content-wrap {
	width: 82%;
	margin: 0 auto;
}

.login-wrapper .box h6 {
	text-transform: uppercase;
	margin: 0 0 30px 0;
	font-size: 18px;
	font-weight: 600;
}

.login-wrapper .box input[type="text"], .login-wrapper .box input[type="password"]
	{
	font-size: 15px;
	height: 40px;
	margin-bottom: 18px;
	border-color: #b2bfc7;
	padding-left: 12px;
}

.login-wrapper .box input[type="password"] {
	margin-bottom: 10px;
}

.login-wrapper .box input:-moz-placeholder {
	color: #9ba8b6;
	font-size: 15px;
	letter-spacing: 0px;
	font-style: italic;
}

.login-wrapper .box input:-ms-input-placeholder {
	color: #9ba8b6;
	font-style: italic;
	letter-spacing: 0px;
	font-size: 15px;
}

.login-wrapper .box input::-webkit-input-placeholder {
	color: #9ba8b6;
	font-style: italic;
	letter-spacing: 0px;
	font-size: 15px;
}

.login-wrapper .box a.forgot {
	display: block;
	text-align: right;
	text-decoration: none;
	color: #3d88ba;
	font-size: 14px;
	margin-top: 6px;
	text-align: left;
	display: block;
}

.login-wrapper .box .remember {
	display: block;
	overflow: hidden;
	margin-bottom: 15px;
}

.login-wrapper .box .remember input[type="checkbox"] {
	float: left;
	margin-right: 8px;
}

.login-wrapper .box .remember label {
	float: left;
	color: #4a576a;
	font-size: 13px;
}

.login-wrapper .box .login {
	text-transform: uppercase;
	font-size: 13px;
	padding: 8px 30px;
}

.login-wrapper .no-account {
	margin: 0 auto;
	float: none;
	text-align: center;
	font-size: 14px;
	margin-top: 25px;
}

.login-wrapper .no-account p {
	display: inline-block;
	color: #aaaaaa;
}

.login-wrapper .no-account a {
	color: #aaaaaa;
	margin-left: 7px;
	border-bottom: 1px solid;
	transition: all .1s linear;
	-moz-transition: all .1s linear;
	/* Firefox 4 */
	-webkit-transition: all .1s linear;
	/* Safari and Chrome */
	-o-transition: all .1s linear;
	/* Opera */
}

.login-wrapper .no-account a:hover {
	text-decoration: none;
	color: #fff;
	border-bottom-color: #fff;
}

/* background switcher */
.bg-switch {
	position: absolute;
	background: rgba(255, 255, 255, 0.8);
	top: 60px;
	border-radius: 0px 10px 10px 0px;
	padding: 10px 10px 0px 10px;
	z-index: 999;
}

.bg-switch .bgs .bg {
	text-align: center;
	margin-bottom: 13px;
	text-decoration: none;
	display: block;
}

.bg-switch .bgs .bg.active img {
	border-color: #000;
}

.bg-switch .bgs .bg img {
	width: 80px;
	height: 60px;
	border: 2px solid #9fcef1;
	cursor: pointer;
}

/* responsive */
@media ( max-width : 767px) {
	.login-wrapper .box {
		width: 350px;
	}
}

@media ( max-width : 480px) {
	.login-wrapper .box {
		width: 90%;
	}
}

.login-wrapper .accbox{
	margin:0 auto;
    padding: 35px 0 30px;
    float: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background: #ffffff;
	min-height:339px;
}