/* Add css rules here for your application. */
.bootcamp {
	margin-left: 0px;
	padding: 10px;
	border-bottom: 0px;
}

.bootcamp h1 {
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	background-color: #405a6a;
	background-image: -moz-linear-gradient(#829aa8, #405a6a);
	background-image: -webkit-linear-gradient(#829aa8, #405a6a);
	background-image: linear-gradient(#829aa8, #405a6a);
	background-repeat: repeat-x;
	border: 1px solid #677c89;
	border-bottom-color: #6b808d;
	border-radius: 5px 5px 0 0;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
	margin: 0;
	padding: 8px 10px;
	position: relative;
}

.bootcamp h1 span {
	color: #e9f1f4;
	font-size: 70%;
	font-weight: normal;
	text-shadow: none;
}

.bootcamp .bootcamp-body {
	padding: 10px 1%;
	background-color: #e9f1f4;
	overflow: hidden;
	border-style: solid;
	border-width: 1px 1px 2px;
	border-color: #e9f1f4 #d8dee2 #d8dee2;
	border-radius: 0 0 5px 5px;
}

.bootcamp ul {
	margin: 0px;
}

.bootcamp ul li {
	color: #666666;
	font-size: 13px;
	font-weight: normal;
	background-color: #f5f3b4;
	background-image: -moz-linear-gradient(#fffff5, #f5f3b4);
	background-image: -webkit-linear-gradient(#fffff5, #f5f3b4);
	background-image: linear-gradient(#fffff5, #f5f3b4);
	background-repeat: repeat-x;
	border: 1px solid #dfddb5;
	border-radius: 5px 5px 5px 5px;
	display: block;
	width: 23.25%;
	height: 215px;
	float: left;
	position: relative;
	overflow: hidden;
	box-shadow: 0px 1px 0px #fff;
	margin: 0 1.5% 0 0;
}

.bootcamp ul li a {
	color: #666666;
}

.bootcamp ul li:hover {
	background-color: #f1eea3;
	background-image: -moz-linear-gradient(#fcfce9, #f1eea3);
	background-image: -webkit-linear-gradient(#fcfce9, #f1eea3);
	background-image: linear-gradient(#fcfce9, #f1eea3);
	background-repeat: repeat-x;
	border: 1px solid #d6d4ad;
}

.bootcamp .step-number {
	background-repeat: no-repeat;
	display: block;
	width: 60px;
	height: 120px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	z-index: 0;
	font-size: 120px;
	color: #e4e1a8;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
	opacity: .75;
}

.bootcamp .desc h2 {
	margin: 0px;
	padding: 0px;
	font-size: 15px;
	color: #393939;
}

.bootcamp .desc p {
	margin: 0px;
	padding: 0px;
	line-height: 1.2em;
}

.bootcamp .desc {
	padding: 15px;
	display: block;
	overflow: hidden;
	border-top: 1px solid #fff;
	background-repeat: no-repeat;
	position: relative;
	z-index: 2;
}

.bootcamp .image {
	display: block;
	position: relative;
	height: 133px;
	border-bottom: 1px solid #f1efaf;
	/* background-repeat: no-repeat; */
	/* background-position: center center; */
	font-size: 80px;
	top: 30px;
	padding-left: 36%;
}

.bootcamp .image {
	/* background-image:
		url("https://github.com/images/modules/dashboard/bootcamp/octocat_setup.png?152282f8");
	background-size: 129px 96px; */
	
}

.dummycontainer {
	display: none;
}

.hidden {
	display: none;
}

#navigation-menu ul.submenu .wfactions a {
	display: inline;
}

.button-group {
	text-align: center;
}

.button-group button {
	margin-right: 3px;
}

.button-group {
	background: url("images/gradient-t-b.png") repeat-x scroll 0 0
		transparent;
	border-top: 1px solid #D5D7DB;
	padding: 10px;
	text-align: center;
}

.mandatory {
	color: red
}

.priority-group {
	display: inline;
}

.priority-group input,.priority-group label {
	display: inline;
	margin-right: 5px;
}

.hand:hover {
	cursor: pointer;
	cursor: hand;
}

.uploader {
	display: block;
}

.vld-Summary {
	color: red;
	display: none;
	border: solid 1px red;
	padding: 5px;
}

.vld-Summary span {
	font-size: 12px;
	font-weight: bold;
}

.vld-Summary-show {
	display: block;
}

#radiobtns {
	display: block;
}

#radiobtns label {
	display: inline-block !important;
	padding: 0 10px 0px 3px;
	vertical-align: text-top;
}

#detailed-info .form-horizontal .generic-row .td input {
	padding: 1px 8px;
	font-size: 12px;
}

#detailed-info .form-horizontal .generic-row .td .gwt-InlineLabel {
	padding: 1px 8px;
	font-size: 12px;
}

#detailed-info .form-horizontal .generic-row .controls {
	margin-left: 0px;
}

#detailed-info .form-horizontal .controls .comment-container {
	border: 0px;
}

.form-horizontal .generic-row .controls {
	margin-left: 0px;
}

.generic-row .td {
	padding: 0px;
	padding-left: 1px;
}

.tr .generic-header {
	text-align: center;
}

#detailed-info .generic-doc-title {
	text-transform: uppercase;
	font-size: 115%;
	font-weight: bold;
	padding: 10px 0px 0px 0px;
	color: #222;
	font-family: arial, sans-serif;
	margin-left: 11px;
}

.dateinput,.compositeinput {
	display: inline-block;
}

.dateinput .input-group .input-group-addon {
	display: inline;
	display: -moz-compact;
}

.control-group .controls .comment-container {
	display: inline-block;
	width: 95%;
	max-width: 95%;
}

.action-area .version {
	font-size: 10px;
	font-style: oblique;
}

.highlight {
	background-color: yellow;
}

.control-group .controls .gwt-RadioButton-disabled {
	color: #000000;
}

.control-group .controls .radiobtns {
	display: block;
}

.control-group .controls .radiobtns label {
	display: inline-block !important;
	padding: 0 10px 0px 3px;
	vertical-align: text-top;
}

#activity .indent strong {
	margin-right: 0;
}

span.serverdisconnected {
	background: #db4439;
	color: white;
}

span.tasktimelines {
	display: block;
	font-size: 11px;
	padding-right: 5px;
}

div.multicolumn {
	min-width: 500px;
	/* position:absolute; */
}

div.tr-step {
	height: 250px;
	position: relative;
}

div.centered {
	text-align: center;
}

#detailed-info .lead,.form-horizontal .lead {
	background-color: #F5F5F5;
}

div.num {
	text-align: right;
}

div.center {
	text-align: center;
}

div.htmlEditorPopup {
	max-width: 90% !important;
	width: 90% !important;
}

.modal-iframe {
	left: 5%;
	overflow: visible;
	position: absolute;
	top: 5%;
	visibility: visible;
	position: fixed;
	width: 90%;
	height: 90%;
	z-index: 1050;
	background-color: #ffffff;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.3);
	*border: 1px solid #999;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	outline: none;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
}

.modal-iframe-body {
	height: 622px;
	padding: 2px;
	position: relative;
}

.attachments-header {
	color: #454545;
	line-height: 14px;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}

.attachments-well,.attachments-header,.thumbnails-attach {
	overflow: hidden;
}

.attachments-well ::-webkit-scrollbar-thumb {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

table {
	display: table;
	border-collapse: separate;
	border-spacing: 2px;
	border-color: gray;
}

.thread-item.expanded {
	cursor: default;
	height: auto;
	margin: 6px 0;
}

.thread-item {
	padding: 6px 10px;
	position: relative;
	background-color: #fff;
	overflow: hidden;
	cursor: pointer;
	border-top: 2px solid #fff;
	border-bottom: 2px solid rgba(0, 0, 0, 0.05);
	border-left: 2px solid transparent;
	border-right: 2px solid transparent;
	height: 21px;
	margin-top: 0;
}

body,.btn input,.items a,.list-view a,.result a,.nf-text,.msg-loadingpane .message,.conv-loadingpane .message,.list-view-item .icon,.mb-list-ad .icon
	{
	color: #fff;
}

body,input,button,select,textarea,#custom-folders,#newsfeed-filterbar,.newsfeed-container,.js-stream-filter-item
	{
	font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial,
		"Lucida Grande", sans-serif;
}

ody,input,button,select,textarea {
	font-size: 13px;
	font-size: 1.3rem;
}

.attachments-well ul.file-attach {
	float: left;
	width: 70%;
	max-width: 600px;
}

.attachments-well ul li {
	display: inline-block;
}

.attachments-well ul, .attachments-well ol {
	list-style: none;
}

h1,h2,h3,h4,h5,h6,p,ul,ol,table,a,dt,dd {
	margin: 0;
	padding: 0;
}

ul,menu,dir {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}

.attachments-well ::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

.threadpane ::-webkit-scrollbar-thumb {
	background: none;
	background: rgba(255, 255, 255, 0.5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80FFFFFF,
		endColorstr=#80FFFFFF);
}

table {
	display: table;
	border-collapse: separate;
	border-spacing: 2px;
	border-color: gray;
}

.thread-item.expanded {
	cursor: default;
	height: auto;
	margin: 6px 0;
}

.file-attach .filename {
	text-overflow: ellipsis;
	white-space: nowrap;
	float: left;
	overflow: hidden;
	width: 225px;
}

.file-attach .options {
	color: #196ad4;
}

.file-attach li {
	min-width: 380px;
	/**padding: 2px 0 0 0.3em;**/
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	line-height: 20px;
	clear: both;
}

.file-attach li.readonly {
    min-width: 325px;
}

.file-attach li:first-child {
	border-top: 0;
}

.compose .inner {
	overflow: auto;
	cursor: text;
	padding: 8px 28px;
	margin-right: 20px;
}

.file-attach .options .remove {
	padding-right: 5px;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.file-attach .options {
	float: right;
}

a {
	text-decoration: none;
	color: #196ad4;
	outline: none;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}

.attachments-well ul,.attachments-well ol {
	list-style: none;
}

.messagepane,.threadpane,.compose {
	color: #000;
}

.attachments-well ul {
    margin-left:0px;
}

.caseregistry{
	display: inline-block;
    margin-bottom: 2px;
    margin-right: 2px;
    vertical-align: middle;
}

input[type="text"].caseregistry, select.caseregistry{
    display: inline-block;
    margin-bottom: 2px !important;
    margin-right: 2px !important;
    vertical-align: middle;
    font-size: 12px;
}
input[type="text"].caseregistry{
	height: 16px;	
}

select.caseregistry{
	height: 27px;	
}

a.caseregistry{
	padding: 2px 12px;
	vertical-align: inherit;
}

div.registry{
	margin-bottom: 5px;
    margin-top: 5px;
}

div.registry-table{
	-webkit-box-shadow: -12px -4px 40px 0px rgba(206,210,222,1);
-moz-box-shadow: -12px -4px 40px 0px rgba(206,210,222,1);
box-shadow: -12px -4px 40px 0px rgba(206,210,222,1);
}

.text-center a, .text-center a:visited, .text-center a:hover {
    color:  #3A87AD;
}

.text-center{
	font-size:16px;
	text-align:center !important;
}

.registry-table .icon{
	max-width:32px;
}

.registry-table .small{
	max-width:42px;
}

.registry-table .date{
	max-width:42px;
}

.registry-table .user{
	max-width:100px;
}

.registry-table .large{
	max-width:150px;
}


.registry-table .table .th, .registry-table .table .td{
	.text-overflow();
} 

.text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}