<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<display-name>WIRA</display-name>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<resource-env-ref>
	    <resource-env-ref-name>jdbc/ebusinessds</resource-env-ref-name>
	    <resource-env-ref-type>javax.sql.DataSource</resource-env-ref-type>
	</resource-env-ref>
	
	<listener>
		<listener-class>com.duggan.workflow.server.guice.GuiceServletConfig</listener-class>
	</listener>
	
	<servlet>
	    <servlet-name>daemon-initializer</servlet-name>
	    <servlet-class>com.duggan.workflow.server.servlets.InitializerServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	
	<!--Servlet Filter that handles site authorization.-->
	<filter>
	     <filter-name>SecurityFilter</filter-name>
	     <filter-class>com.duggan.workflow.server.security.SecurityFilter</filter-class>
	     <description>This Filter authorizes user access to application
	                  components based upon request URI.</description>
	     <init-param>
	        <param-name>login_page</param-name>
	        <param-value>login.html</param-value>
	     </init-param>
	</filter>
	
	<filter-mapping>
	     <filter-name>SecurityFilter</filter-name>
	     <url-pattern>/index.html</url-pattern>
	</filter-mapping>
	

	<!-- GuiceFilter -->
	<filter>
		<filter-name>guiceFilter</filter-name>
		<filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>guiceFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- LOGIN SERVLET (PASSWORD/USERNAME) -->
	<servlet>
	    <servlet-name>LoginServlet</servlet-name>
	    <servlet-class>com.duggan.workflow.server.security.LoginServlet</servlet-class>
	    <init-param>
	        <param-name>app_page</param-name>
	        <param-value>index.html</param-value>
	     </init-param>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>LoginServlet</servlet-name>
	    <url-pattern>/auth</url-pattern>
	</servlet-mapping>
	
	<!-- GOOGLE OAUTH LOGIN SERVLET -->
	<servlet>
	    <servlet-name>GoogleLoginServlet</servlet-name>
	    <servlet-class>com.duggan.workflow.server.security.GoogleLoginServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>GoogleLoginServlet</servlet-name>
	    <url-pattern>/googleservlet</url-pattern>
	</servlet-mapping>
	
	<!-- GOOGLE OAUTH LOGIN CALLBACK SERVLET -->
	<servlet>
	    <servlet-name>GoogleLoginCallbackServlet</servlet-name>
	    <servlet-class>com.duggan.workflow.server.security.GoogleLoginCallbackServlet</servlet-class>
	    <init-param>
	        <param-name>app_page</param-name>
	        <param-value>index.html</param-value>
	     </init-param>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>GoogleLoginCallbackServlet</servlet-name>
	    <url-pattern>/oauth2callback</url-pattern>
	</servlet-mapping>
	
	<!-- GOOGLE OAUTH TOKEN VERIFICATION SERVLET -->
	<servlet>
	    <servlet-name>GoogleIdTokenVerifierService</servlet-name>
	    <servlet-class>com.duggan.workflow.server.security.GoogleIdTokenVerifierService</servlet-class>
	    <init-param>
	        <param-name>app_page</param-name>
	        <param-value>index.html</param-value>
	     </init-param>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>GoogleIdTokenVerifierService</servlet-name>
	    <url-pattern>/auth2tokencallback</url-pattern>
	</servlet-mapping>
	
	<!-- ACCOUNTS MANAGEMENT/ ACTIVATION SERVLET -->
	<servlet>
	    <servlet-name>AccountsServlet</servlet-name>
	    <servlet-class>com.duggan.workflow.server.security.AccountsServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>AccountsServlet</servlet-name>
	    <url-pattern>/accounts</url-pattern>
	</servlet-mapping>
	
	<!-- REST SERVICE -->
	<servlet>
	    <servlet-name>RestService</servlet-name>
	    <servlet-class>com.duggan.workflow.server.rest.servlet.JerseyServletContainer</servlet-class>
	    <init-param>
	        <param-name>com.sun.jersey.config.property.packages</param-name>
	        <param-value>com.duggan.workflow.server.rest</param-value>
	    </init-param>
	    <init-param>
	        <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
	        <param-value>true</param-value>
	    </init-param>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>RestService</servlet-name>
	    <url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	
	<!-- UPLOAD SERVLET -->
	<servlet>
	    <servlet-class>com.duggan.workflow.server.servlets.upload.UploadServlet</servlet-class>
	    <servlet-name>uploader</servlet-name>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>uploader</servlet-name>
	    <url-pattern>/upload</url-pattern>
	</servlet-mapping>
	
	<!-- FILE/ ATTACHMENTS DOWNLOAD SERVLET -->
	<servlet>
	    <servlet-class>com.duggan.workflow.server.servlets.upload.GetReport</servlet-class>
	    <servlet-name>getReport</servlet-name>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>getReport</servlet-name>
	    <url-pattern>/getreport</url-pattern>
	</servlet-mapping>
	
	<!-- PIONEER MPESA INTEGRATION -->
	<servlet>
		<servlet-class>org.wira.pioneer.integration.PioneerMpesaServlet</servlet-class>
		<servlet-name>ipnServlet</servlet-name>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ipnServlet</servlet-name>
		<url-pattern>/ipnserv</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-class>com.duggan.workflow.server.servlets.upload.DownloadReportServlet</servlet-class>
	    <servlet-name>downloadReport</servlet-name>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>downloadReport</servlet-name>
	    <url-pattern>/downloadreport</url-pattern>
	</servlet-mapping>

</web-app>